[2021-06-03 14:48] KPostOffice commented on #195
https://github.com/thoth-station/kebechet/blob/49a8fedcf0b70a2010e5942275a951cf4855e103/kebechet/managers/update/update.py#L252-L260

@fridex Would this check be sufficient?

[2021-06-03 17:26] fridex commented on #195
Not sure about it. Commit SHA will not match even if the content of the commit content is the same.

[2021-06-03 17:40] KPostOffice commented on #728
https://github.com/packit/ogr/pull/589

[2021-06-03 17:44] KPostOffice commented on #195
because the # of commits on top of master is only 1, we could just check and see if the currently open PR commit history ends with master/HEAD commit + a single commit which is the change being made.

[2021-06-03 17:48] fridex commented on #195
That would work if there aren't any new commits in the current master. But what if the update has newer packages than the already opened pull request?

[2021-06-03 17:48] KPostOffice commented on #504
Instead of passing a dict, we could add, `**kwargs` to the end of the run method to catch unused configuration and open issues. I like this approach more because we still will have useful function signatures and type hinting.  WDYT @fridex ?

[2021-06-03 17:52] fridex commented on #504
What if the already present keys in `.thoth.yaml` do not match function signature?

An example could misconfigured `update` manager:

[code]

[2021-06-03 18:22] KPostOffice commented on #707
/close

[2021-06-03 18:22] #707 closed

[2021-06-03 18:22] sesheta commented on #707
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/707#issuecomment-854082938):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-06-04 18:09] KPostOffice commented on #504
This is what I mean.

we load configuration so that we have a dict which looks like:
[code]
we could have a run command that looks something like this:
[code]
and then just call:
`run(**args)`

[2021-06-04 18:16] fridex commented on #504
Sounds good 👍🏻

[2021-06-07 20:06] harshad16 opened #735 "kebechet v1.3.0 causing following error."
**Describe the bug**
kebechet v1.3.0 has these errors.

[code]

[2021-06-07 20:07] fridex commented on #735
/assign @KPostOffice

[2021-06-07 20:09] goern opened #736 "prepend changes instead of appending them"
https://github.com/thoth-station/kebechet/blob/8b37b5edd969a6ca875735a2de32c5afec4b121d/kebechet/managers/version/version.py#L302

/kind feature
/kind demo
/label "good first issue"
/assign @bjoernh2000

[2021-06-08 06:29] fridex opened #738 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-06-09 11:03] #738 closed

[2021-06-09 11:04] fridex opened #740 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-06-09 14:22] KPostOffice opened #743 "Use update sieve when Keb triggered by package release"
https://github.com/thoth-station/adviser/pull/1903#issuecomment-857697369

[2021-06-09 14:22] KPostOffice commented on #743
/triage needs-information

[2021-06-09 17:50] sentry-io[bot] opened #745 "AttributeError: 'UpdateManager' object has no attribute 'token'"
Sentry Issue: [KEBECHET-DD](https://sentry.io/organizations/thoth-station/issues/2446475512/?referrer=github_integration)

[code]

[2021-06-09 19:28] KPostOffice commented on #728
We can remove this on the next release of OGR

[2021-06-09 19:43] KPostOffice commented on #182
@goern I'm not sure what "new implementation" you are talking about

[2021-06-09 19:49] KPostOffice commented on #195
We could check the current version installed. If the PR is attempting to install a package whose version is less than the one specified in Pipfile.lock, then we just close the PR which is open.

[2021-06-10 08:32] sentry-io[bot] opened #746 "FileNotFoundError: [Errno File 'Pipfile' on master not found] 404 {"message": "Not Found", "documentation_url": "htt..."
Sentry Issue: [KEBECHET-DK](https://sentry.io/organizations/thoth-station/issues/2447601153/?referrer=github_integration)

[code]

[2021-06-10 08:35] sentry-io[bot] opened #747 "RateLimitExceededException: 403 {"message": "API rate limit exceeded for 192.12.185.131. (But here's the good news: Authentic..."
Sentry Issue: [KEBECHET-DM](https://sentry.io/organizations/thoth-station/issues/2447617431/?referrer=github_integration)

[code]

[2021-06-10 10:26] goern commented on #654
/triage needs-information

[2021-06-10 10:32] goern commented on #688
and update/planning due to this?
/triage needs-information

[2021-06-10 10:37] goern commented on #727
/priority important-longterm

[2021-06-10 12:33] fridex commented on #747
Reported in https://github.com/thoth-station/kebechet/issues/746

[2021-06-10 12:35] goern commented on #485
/priority backlog

[2021-06-10 13:19] goern commented on #175
/priority backlog

[2021-06-10 13:20] goern commented on #182
@fridex is this still a valid RFE?

[2021-06-10 13:20] goern commented on #182
/triage needs-information

[2021-06-10 13:22] goern commented on #195
@KPostOffice are you actively working on this? if so, please put some labels on it. thx!

[2021-06-10 13:27] goern commented on #728
/kind feature
/priority importnat-soon
/lifecycle active

[2021-06-10 13:27] sesheta commented on #728
@goern: The label(s) `priority/importnat-soon` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/728#issuecomment-858623010):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestion

[2021-06-10 13:28] goern commented on #728
/priority important-soon

[2021-06-10 13:49] goern commented on #745
/kind bug
/priority important-soon
/assign @KPostOffice
/label deployment_name/zero-prod

[2021-06-10 13:51] goern commented on #746
/kind bug
/priority importnat-soon

[2021-06-10 13:51] sesheta commented on #746
@goern: The label(s) `priority/importnat-soon` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/746#issuecomment-858641505):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestion

[2021-06-10 14:53] goern commented on #669
/kind feature
/priority important-soon

[2021-06-10 14:54] #681 closed

[2021-06-10 14:59] goern commented on #736
/priority important-soon

[2021-06-10 15:29] goern commented on #747
/triage duplicate
/close

[2021-06-10 15:29] sesheta commented on #747
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/747#issuecomment-858721183):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-06-10 15:29] #747 closed

[2021-06-10 15:29] goern commented on #735
/kind bug

[2021-06-10 15:42] #558 closed

[2021-06-10 15:55] goern commented on #715
/priority important-soon

[2021-06-10 15:56] goern commented on #714
/priority important-soon

[2021-06-10 15:56] goern commented on #711
/triage needs-information

[2021-06-10 15:56] goern commented on #710
/kind bug
/priority backlog

[2021-06-10 15:57] goern commented on #705
/triage needs-information

[2021-06-10 15:57] goern commented on #693
/kind feature
/priority important-soon

[2021-06-10 15:58] goern commented on #678
/priority backlog

[2021-06-10 16:02] goern commented on #455
/priority backlog

[2021-06-10 16:02] goern commented on #459
/priority backlog

[2021-06-10 16:02] goern commented on #504
/priority important-soon

[2021-06-10 16:03] goern commented on #506
/priority important-soon

[2021-06-10 16:04] goern commented on #507
/priority backlog

[2021-06-10 16:04] goern commented on #546
/priority important-soon

[2021-06-10 16:04] goern commented on #580
/priority backlog

[2021-06-10 16:05] goern commented on #582
/priority backlog

[2021-06-10 16:43] goern commented on #675
/label "good first issue"
/label hacktoberfest
/priority backlog

[2021-06-10 16:44] goern commented on #676
/unassign @pacospace
/unassign @fridex
/triage needs-information

@sub-mod is this something we want to do?

[2021-06-10 16:45] goern commented on #663
@bjoernh2000 maybe while you brows thru the version manager anyways, can you have a look at this?

/priority important-soon
/assign @bjoernh2000

[2021-06-10 16:46] goern commented on #662
/triage needs-information

[2021-06-10 16:46] goern commented on #588
/priority backlog

[2021-06-10 16:46] goern commented on #671
/priority backlog
/label "good first issue"
/label hacktoberfest

[2021-06-10 16:47] goern commented on #586
/priority backlog

[2021-06-10 16:47] goern commented on #629
/priority backlog

[2021-06-10 16:50] bjoernh2000 commented on #663
Yes will take a look

[2021-06-10 21:06] fridex commented on #182
This is no longer relevant. Sai had to change the update logic not to work on incremental updates (one PR per update) because of pipenv issues. This optimization was for the old incremental updates logic.

Moreover, by switching to advise based updates, we will not use pipenv at all.

/close

[2021-06-10 21:06] sesheta commented on #182
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/182#issuecomment-859068322):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-06-10 21:06] #182 closed

[2021-06-11 06:16] fridex commented on #195
I'm not sure if this is a priority now - with the Thoth based update manager this will not be needed. It might be better to invest into the Thoth based update manager to deliver a long-term solution.

[2021-06-11 06:28] goern commented on #195
/unassign @KPostOffice
/priority backlog

[2021-06-11 08:23] pacospace opened #748 "New Kebechet manager suggesting what to add to have an healthy github project"
**Is your feature request related to a problem? Please describe.**
Some projects might miss some important parts to be considered healthy. Kebechet could provide feedback on what is missing based on scorecards.

**Describe the solution you'd like**
New Kebechet manager to suggest in issues what is missing to have a healthy project based on scorecards and more??

**Describe alternatives you've cons

[2021-06-11 18:28] bjoernh2000 commented on #736
resolved in #744

[2021-06-11 18:39] fridex commented on #736
Nice, thanks!

BTW you can add "fixes" or [other keywords](https://docs.github.com/en/issues/tracking-your-work-with-issues/creating-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword) to the pull request to close the corresponding issue.

/close

[2021-06-11 18:39] sesheta commented on #736
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/736#issuecomment-859769926):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-06-11 18:39] #736 closed

[2021-06-14 06:05] #745 closed

[2021-06-14 06:10] fridex opened #751 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-06-14 06:10] fridex commented on #748
@KPostOffice @pacospace do you plan to create a design proposal document for this?

[2021-06-14 06:24] goern commented on #748
/triage needs-information

[2021-06-14 06:27] #751 closed

[2021-06-14 07:49] pacospace commented on #748
We have a call to discuss about it, we put some notes in here meanwhile:
https://docs.google.com/document/d/13kPrXLj3bUGhWkzkz2R5hlupWj8iXJaw2JZNK20sYgE/edit#heading=h.xzddde2be64l

[2021-06-15 15:12] sesheta commented on #150
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-06-15 15:13] fridex commented on #150
/remove-lifecycle stale

[2021-06-16 09:38] goern commented on #714
/help
/priority important-longterm

[2021-06-16 09:38] sesheta commented on #714
@goern:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/thoth-station/kebec

[2021-06-16 12:27] harshad16 commented on #735
this is fixed with version v1.3.2
closing the issue.

[2021-06-16 12:27] #735 closed

[2021-06-16 12:31] harshad16 opened #755 "Kebechet update are throwing type error in workflow"
**Describe the bug**
The workflows are throwing the type error for the kebechet updates.

version: v1.3.2

[code]

[2021-06-16 12:32] fridex commented on #755
/assign @KPostOffice

[2021-06-16 19:42] KPostOffice commented on #755
Fixed by https://github.com/thoth-station/kebechet/pull/744

[2021-06-16 19:45] KPostOffice commented on #746
Our rate limit is up around 5,000 requests per hour with the kebechet app isn't it? Is this limit being exceed solely by Kebechet? or is some other component eating quota?

[2021-06-17 07:36] goern commented on #755
/close

[2021-06-17 07:36] sesheta commented on #755
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/755#issuecomment-863006027):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-06-17 07:36] #755 closed

[2021-06-17 07:53] goern commented on #746
it is actually https://github.com/organizations/AICoE/settings/apps/khebhut which is the app that provides the API access, so it should be around 15k/hr

[2021-06-18 06:34] #728 closed

[2021-06-18 06:47] #663 closed

[2021-06-21 19:28] KPostOffice commented on #746
I feel like we shouldn't be anywhere near this limit. It looks like this might be an auth issue as it is giving a rate limit for the ip address rather than for the GitHub app. Unauthenticated rate limit is 60 requests per hour.

[2021-06-21 20:13] KPostOffice commented on #746
Nvm, it actually uses this function to initialize which allows one or the other to not be provided,

 https://github.com/packit/ogr/blob/9a8149ecee7128430ae4c0cdb156cb3edf0ac527/ogr/services/github/auth_providers/github_app.py#L98

[2021-06-21 20:47] KPostOffice commented on #746
The issue was even simpler #759

[2021-06-21 21:07] #746 closed

[2021-06-22 13:24] goern commented on #662
/remove-triage needs-information
/priority backlog
/help

[2021-06-22 13:24] sesheta commented on #662
@goern:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/thoth-station/kebec

[2021-06-23 09:02] goern commented on #748
/kind feature
/priority important-soon

[2021-06-23 09:02] goern commented on #748
/triage accepted
/remove-triage needs-information

[2021-06-23 12:37] goern commented on #654
There is a project at https://github.com/aicoe-aiops/github-labeler taking over the work

/close

[2021-06-23 12:37] sesheta commented on #654
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/654#issuecomment-866798534):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-06-23 12:37] #654 closed

[2021-06-23 12:38] goern commented on #688
/remove-triage needs-information
/assign
/unassign @pacospace

I'll de-list Qeb-Hwt from GitHub marketplace
/lifecycle active

[2021-06-23 14:31] tlegen-k commented on #727
/assign @tlegen-k

[2021-06-23 21:47] goern commented on #688
I opened https://support.github.com/ticket/personal/0/1207233 to get this done.

[2021-06-24 15:24] KPostOffice commented on #507
I think a good way to do this would be adding a function `_should_run()` to each manager which is called prior to running

[2021-06-28 06:48] fridex commented on #507
Might be a good idea to provide information on the class level when the given manager should be run, something like:

[code]

in that case, the logic behind calling managers will be able to determine when the given manager should be called.

[2021-06-28 09:26] goern commented on #459
/remove-triage needs-information

[2021-06-28 09:26] goern commented on #676
@sub-mod ping

[2021-06-28 09:27] goern commented on #705
https://github.com/thoth-station/kebechet/issues/676

[2021-06-28 09:27] goern commented on #705
/remove-triage needs-information

[2021-06-28 15:07] goern commented on #743
/kind feature

[2021-06-28 16:22] sesheta commented on #584
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-06-29 00:57] sub-mod commented on #676
I will attend the mlcube meeting and let you know.

[2021-06-30 07:03] goern commented on #383
As Frido's comment seems to be correct, I will close this one, feel free to re-open

/close

[2021-06-30 07:03] sesheta commented on #383
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/383#issuecomment-871149869):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-06-30 07:03] #383 closed

[2021-06-30 07:07] goern commented on #705
@xtuchyna are you working on this? if so, please lifecycle it, and set a prio

/priority backlog

[2021-06-30 12:55] goern commented on #688
done.
/close

[2021-06-30 12:55] #688 closed

[2021-06-30 12:55] sesheta commented on #688
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/688#issuecomment-871379460):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-06-30 14:49] KPostOffice opened #762 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-06-30 15:00] #762 closed

[2021-06-30 15:55] sesheta opened #763 "new patch release"

[2021-06-30 16:45] #763 closed

[2021-06-30 17:54] KPostOffice commented on #507
I think having function that takes a webhook payload would be better. For example in the case of version manager we don't even want to run for every new issue. We only want to run it if the issue is a very specific format which we might be able to figure out from the payload contents.

[2021-06-30 19:31] KPostOffice commented on #584
/close

[2021-06-30 19:31] #584 closed

[2021-06-30 19:31] sesheta commented on #584
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/584#issuecomment-871671642):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-07-05 16:41] sesheta commented on #702
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-05 19:41] sesheta commented on #701
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-07-06 11:51] goern commented on #546
hey fellas, what is the state of this? demoable?

[2021-07-07 21:31] KPostOffice commented on #678
/triage needs-information

Recreate bug with current master. Code underlying the issue has changed and this issue may no longer be valid

[2021-07-09 19:31] #696 closed

[2021-07-15 01:41] sesheta commented on #717
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 01:42] sesheta commented on #540
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 01:42] sesheta commented on #577
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 01:42] #717 closed

[2021-07-15 01:42] sesheta commented on #540
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/540#issuecomment-880323149):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 01:42] sesheta commented on #577
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/577#issuecomment-880323145):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 01:42] sesheta commented on #717
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/717#issuecomment-880323142):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 02:02] sesheta commented on #570
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 04:44] sesheta commented on #657
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 04:44] sesheta commented on #679
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 04:44] #657 closed

[2021-07-15 04:44] sesheta commented on #657
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/657#issuecomment-880386864):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 04:44] sesheta commented on #679
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/679#issuecomment-880386861):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 07:04] goern commented on #570
/remove-lifecycle rotten

[2021-07-15 07:42] sesheta commented on #579
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 07:42] sesheta commented on #726
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 07:42] sesheta commented on #579
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/579#issuecomment-880471780):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 07:42] sesheta commented on #726
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/726#issuecomment-880471809):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 14:04] sesheta commented on #485
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 14:04] sesheta commented on #175
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 15:15] goern commented on #726
/open
/lifecycle frozen

[2021-07-15 17:03] sesheta commented on #669
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 20:03] sesheta commented on #711
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 20:03] sesheta commented on #715
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 20:03] sesheta commented on #693
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 20:03] sesheta commented on #710
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 22:42] sesheta commented on #455
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 22:42] sesheta commented on #504
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 22:42] sesheta commented on #506
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 22:42] sesheta commented on #580
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 22:42] sesheta commented on #582
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 22:42] sesheta commented on #675
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 22:42] sesheta commented on #588
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 22:42] sesheta commented on #586
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 22:42] sesheta commented on #671
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 22:42] #455 closed

[2021-07-15 22:42] #504 closed

[2021-07-15 22:42] #580 closed

[2021-07-15 22:42] #586 closed

[2021-07-15 22:42] sesheta commented on #506
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/506#issuecomment-881056309):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 22:42] #675 closed

[2021-07-15 22:43] sesheta commented on #455
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/455#issuecomment-881056303):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 22:43] sesheta commented on #504
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/504#issuecomment-881056307):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 22:43] sesheta commented on #580
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/580#issuecomment-881056313):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 22:43] sesheta commented on #586
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/586#issuecomment-881056338):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 22:43] sesheta commented on #588
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/588#issuecomment-881056328):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 22:43] sesheta commented on #671
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/671#issuecomment-881056335):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 22:43] sesheta commented on #675
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/675#issuecomment-881056326):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 22:43] sesheta commented on #582
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/582#issuecomment-881056321):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 23:04] sesheta commented on #629
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-16 00:12] xtuchyna commented on #711
should I make this into user story and all that stuff?

[2021-07-16 02:03] sesheta commented on #195
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-16 05:03] sesheta commented on #150
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-16 08:17] goern commented on #669
/remove-lifecycle rotten
/priority backlog
/unassign @saisankargochhayat
/help

[2021-07-16 08:36] pacospace commented on #715
/remove-lifecycle rotten

[2021-07-16 08:36] pacospace commented on #715
/assign @KPostOffice

[2021-07-16 10:45] sesheta commented on #714
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-16 10:45] sesheta commented on #714
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/714#issuecomment-881354972):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-16 10:59] fridex commented on #671
/remove-lifecycle rotten
/reopen

[2021-07-16 10:59] sesheta commented on #671
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/671#issuecomment-881362655):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-16 11:00] fridex commented on #455
/remove-lifecycle rotten
/reopen

[2021-07-16 11:00] fridex commented on #506
/remove-lifecycle rotten
/reopen

[2021-07-16 11:00] sesheta commented on #506
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/506#issuecomment-881363325):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-16 11:02] fridex commented on #693
/remove-lifecycle rotten

[2021-07-16 11:13] fridex commented on #175
Low priority.

/close

[2021-07-16 11:13] sesheta commented on #175
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/175#issuecomment-881370627):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-07-16 11:13] #175 closed

[2021-07-16 12:05] goern commented on #669
/remove-lifecycle rotten
/priority backlog
/unassign @saisankargochhayat
/help

[2021-07-16 12:05] sesheta commented on #669
@goern:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/thoth-station/kebec

[2021-07-16 12:36] goern commented on #485
@xtuchyna any update on this?

[2021-07-16 12:36] goern commented on #150
/remove-lifecycle rotten
/lifecycle frozen

[2021-07-16 12:37] goern commented on #195
/remove-lifecycle rotten
/lifecycle frozen
/help
/good-first-issue

[2021-07-16 12:37] sesheta commented on #195
@goern:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](https://git

[2021-07-16 16:09] goern commented on #715
@KPostOffice @pacospace please push this forward! :)

[2021-07-16 16:11] goern commented on #506
/lifecycle frozen
/help

[2021-07-16 16:11] sesheta commented on #506
@goern:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/thoth-station/kebec

[2021-07-16 16:12] goern commented on #711
ja, if you want to get this implemented, you should!

[2021-07-16 16:24] goern commented on #629
/remove-lifecycle rotten
/help
/good-first-issue

[2021-07-16 16:24] sesheta commented on #629
@goern:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](https://git

[2021-07-16 17:02] goern commented on #546
ping?!

[2021-07-19 14:14] pacospace commented on #546
/assign @xtuchyna

[2021-07-22 14:58] xtuchyna commented on #711
TODO: create an intern project out of this
https://github.com/thoth-station/core/tree/master/docs/intern-projects

as was discussed on tech talk session at https://docs.google.com/document/d/1XmXYEWEwgOBHqdJkUTmhBvUb41pr5GIR2pePasvvZ1s/edit#heading=h.ojm5k4h8h15f

/assign @xtuchyna

[2021-07-22 18:30] KPostOffice commented on #579
This was fixed when we switched to ogr. Closing this

[2021-07-22 18:30] KPostOffice commented on #579
/close

[2021-07-22 18:30] KPostOffice commented on #579
/close

[2021-07-22 18:30] #579 closed

[2021-07-22 18:30] KPostOffice commented on #579
?

[2021-07-22 18:30] sesheta commented on #579
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/579#issuecomment-885140590):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-07-23 20:14] KPostOffice commented on #577
I'm not sure I understand the issue. Kebechet only runs based on `.thoth.yaml` configuration. Currently you cannot request to run a specific manager such as `update`.

[2021-07-23 20:17] KPostOffice commented on #582
I don't think Kebechet is the best place for this. I'm not sure how to fit it into the manager design.

[2021-07-25 11:04] sesheta commented on #748
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-25 11:04] sesheta commented on #748
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-25 11:04] sesheta commented on #727
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-25 11:04] sesheta commented on #727
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-25 11:05] sesheta commented on #748
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/748#issuecomment-886184919):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-25 11:05] sesheta commented on #727
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/727#issuecomment-886184945):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-26 13:37] pacospace commented on #582
isn't it just another call to an endpoint when `kebechet suggest` issue is opened? maybe also a `thamos suggest` command resuing same endpoint?

[2021-07-26 20:33] KPostOffice commented on #726
/lifecycle in-progress

[2021-07-26 20:34] KPostOffice commented on #726
/lifecycle active
/assigne @KPostOffice

[2021-07-28 11:07] sesheta commented on #459
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-28 11:07] #459 closed

[2021-07-28 11:08] sesheta commented on #459
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/459#issuecomment-888222360):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-28 17:07] sesheta commented on #743
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-28 17:07] #743 closed

[2021-07-28 17:07] sesheta commented on #743
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/743#issuecomment-888474812):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-29 02:07] sesheta commented on #676
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-29 02:07] sesheta commented on #676
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/676#issuecomment-888742253):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-30 08:07] sesheta commented on #705
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-30 20:09] sesheta commented on #507
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-30 20:09] #507 closed

[2021-07-30 20:09] sesheta commented on #507
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/507#issuecomment-890127801):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-02 07:52] sesheta opened #772 "new minor release"

[2021-08-02 08:15] #772 closed

[2021-08-02 10:15] harshad16 opened #774 "kebechet run fails due to non correct branch being passed"
**Describe the bug**

There is a bug , the branch is not being passed correctly.
[code]

The branch is not being passed https://github.com/thoth-station/kebechet/blob/bca1ea008cbc0085cc72a6d4c694d0d3c2bbc8fe/kebechet/utils.py#L109
from the function
https://github.com/thoth-station/kebechet/blob/120d2277c68513b751cca78f6e0c180b9fa31739/kebechet/kebechet_runners.py#L142

kebechet version: [v1.4.0](h

[2021-08-02 19:26] KPostOffice commented on #774
Hey, @harshad16 could you let me know which repository this was run on. This utility function should work fine without being passed a branch name as it defaults to the project default.

[2021-08-02 20:20] KPostOffice commented on #727
/lifecycle freeze

[2021-08-03 11:03] harshad16 commented on #774
i had seen this , when opened calend release for thoth-application

[2021-08-04 17:11] sesheta commented on #702
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-04 17:11] #702 closed

[2021-08-04 17:11] sesheta commented on #702
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/702#issuecomment-892828245):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-04 20:11] sesheta commented on #701
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-04 20:12] sesheta commented on #701
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/701#issuecomment-892942042):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-06 15:41] KPostOffice commented on #715
I demoed this on Monday

/close

[2021-08-06 15:41] KPostOffice commented on #715
/close

[2021-08-06 15:42] sesheta commented on #715
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/715#issuecomment-894345954):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-08-06 15:42] #715 closed

[2021-08-06 23:12] sesheta commented on #678
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-06 23:12] #678 closed

[2021-08-06 23:12] sesheta commented on #678
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/678#issuecomment-894560930):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-09 07:49] harshad16 opened #776 "Handle the nonetype catch during kebechet update"
**Describe the bug**

The kebechet update is getting failed at a point, it getting nonetype error while executing the kebechet update

[code]

**Expected behavior**
successfully execution of the update

[2021-08-09 21:13] pacospace opened #777 "Kebechet Changelog is not ordered by release"
**Describe the bug**
Kebechet Changelog is not ordered by release.

**To Reproduce**
Steps to reproduce the behavior:
1. Check https://github.com/thoth-station/jupyterlab-requirements/pull/372/files

**Expected behavior**
CHANGELOG is ordered by release or by datetime.

**Screenshots**

**Additional context**

[2021-08-10 10:22] harshad16 commented on #701
/triage accepted
/lifecycle frozen

This would be worked on with this sprint goal
https://github.com/thoth-station/kebechet/issues/777

[2021-08-13 08:09] goern commented on #711
what is the status of this issue?

[2021-08-13 08:09] goern commented on #727
what is the status of this issue?

[2021-08-13 08:17] pacospace commented on #727
Tlegen is working on it, but there are other tasks to be finished before having this one.

[2021-08-13 13:09] tlegen-k commented on #727
label/work-in-progress
Related PR #775

[2021-08-18 15:50] pacospace opened #779 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-08-18 16:02] #779 closed

[2021-08-18 16:03] fridex opened #780 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-08-18 16:03] sesheta opened #781 "new minor release"

[2021-08-18 16:03] #780 closed

[2021-08-18 16:13] #781 closed

[2021-08-18 16:13] sesheta opened #782 "new minor release"

[2021-08-18 16:18] #782 closed

[2021-08-18 16:20] sesheta opened #785 "new patch release"

[2021-08-18 16:30] #785 closed

[2021-08-18 16:42] sesheta opened #787 "new patch release"

[2021-08-18 16:56] #787 closed

[2021-08-19 14:14] pacospace opened #789 "New user of kebechet should not wait for approval before using the bot"
**Is your feature request related to a problem? Please describe.**
As new user of Kebechet,

after installing the bot from the marketplace, I need to wait for approval from the maintainers.

**Describe the solution you'd like**
New user of kebechet should not wait for approval before using the bot

**Describe alternatives you've considered**

**Additional context**
It would be nice to have it befo

[2021-08-19 14:49] sentry-io[bot] opened #790 "GithubException: 410 {"message": "Issues are disabled for this repo", "documentation_url": "https://docs.github.co..."
Sentry Issue: [KEBECHET-DY](https://sentry.io/organizations/thoth-station/issues/2588205225/?referrer=github_integration)

[code]

[2021-08-20 06:31] goern commented on #789
@pacospace could you describe what you did? Approving the installation of an app is on the org or repo owner, not on the app owner.

[2021-08-20 07:29] pacospace commented on #789
I follow https://github.com/AICoE/elyra-aidevsecops-tutorial/blob/master/docs/source/build-images.md#invite-sesheta.

[2021-08-20 14:01] pacospace opened #792 "Kebechet update fails with OOM in some repos"
**Describe the bug**
Kebechet update fails with OOM in some repos.

**To Reproduce**
Steps to reproduce the behavior:
1. Run kebechet update for elyra-aidevsecops-tutorial

**Expected behavior**
kebechet is able to update dependencies.

**Screenshots**
[code]

**Additional context**

[2021-08-20 14:02] pacospace commented on #792
Reference for: https://github.com/chauhankaranraj/elyra-aidevsecops-tutorial/issues/3

[2021-08-20 14:06] pacospace opened #793 "Kebechet update failing to open PR with updates"
**Describe the bug**
Kebechet update failing to open PR with updates

**To Reproduce**
Steps to reproduce the behavior:
1. Open Kebechet update in thotht-station/workflow-helpers

**Expected behavior**
PR with updates is opened.

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2021-08-23 13:52] fridex commented on #792
Looks like OOM in Pipenv - might be a good idea to start transitioning to thoth-update manager or increase the memory allocation for now.

[2021-08-23 16:41] pacospace opened #794 "Open issue to user repo to make them activate issues"
**Is your feature request related to a problem? Please describe.**
[code]

**Describe the solution you'd like**
Open issue to user repo to make them activate issues

**Describe alternatives you've considered**
Leave as it is.

**Additional context**

[2021-08-24 02:42] sesheta commented on #570
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 02:42] sesheta commented on #679
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 02:42] sesheta commented on #540
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 02:43] sesheta commented on #570
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/570#issuecomment-904277029):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-24 04:37] fridex commented on #570
/remove-lifecycle rotten
/reopen
/triage accepted

[2021-08-24 04:37] sesheta commented on #570
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/570#issuecomment-904316625):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-24 05:42] sesheta commented on #710
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 05:42] sesheta commented on #710
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 05:43] #710 closed

[2021-08-24 05:43] sesheta commented on #710
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/710#issuecomment-904339084):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-24 10:53] pacospace commented on #793
I see many of these errors @KPostOffice

[2021-08-24 11:14] goern commented on #790
/kind bug
/priority important-soon
/assign @KPostOffice

@KPostOffice handling the `GithubException: 410 {"message": "Issues are disabled for this repo"` might be something that we should not raise as an exception? @fridex wdty?

[2021-08-24 11:19] goern commented on #774
ping

[2021-08-24 11:42] sesheta commented on #662
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 11:43] sesheta commented on #662
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/662#issuecomment-904565001):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-24 11:54] goern commented on #776
/assign @KPostOffice
/priority important-soon

is this still valid? @harshad16

[2021-08-24 11:54] goern commented on #676
@sub-mod any update on this?

[2021-08-24 16:19] sesheta opened #795 "Kebechet thoth-advise manager: ValueError - dc3486768a"
## Description
This is an automated issue generated by Kebechet. The thoth-advise manager threw an exception (ValueError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
Traceback (most recent call last):

[2021-08-24 16:20] goern commented on #795
/kind bug
/priority important-soon
/area predictable-stack
/area cyborgs
/triage accepted

[2021-08-24 17:43] sesheta commented on #671
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 17:43] sesheta commented on #693
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 17:43] sesheta commented on #671
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/671#issuecomment-904846333):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-24 17:43] sesheta commented on #693
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/693#issuecomment-904846341):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-24 17:43] sesheta commented on #714
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 17:43] sesheta commented on #669
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 20:43] sesheta commented on #485
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 20:43] sesheta commented on #150
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 20:43] sesheta commented on #195
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 20:43] sesheta commented on #506
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 20:43] #485 closed

[2021-08-24 20:43] sesheta commented on #629
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 20:43] sesheta commented on #546
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 20:43] sesheta commented on #150
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/150#issuecomment-904960572):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-24 20:43] #195 closed

[2021-08-24 20:43] sesheta commented on #485
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/485#issuecomment-904960567):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-24 20:43] sesheta commented on #195
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/195#issuecomment-904960578):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-24 20:44] sesheta commented on #506
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/506#issuecomment-904960627):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-25 02:43] sesheta commented on #577
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-25 02:43] sesheta commented on #577
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-25 02:44] sesheta commented on #577
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/577#issuecomment-905133998):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-25 08:44] sesheta commented on #748
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-25 08:44] sesheta commented on #748
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-25 08:44] sesheta commented on #748
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/748#issuecomment-905305515):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-25 09:41] pacospace opened #797 "Kebechet fails when .thoth.yaml is missing"
**Describe the bug**
Kebechet fails when .thoth.yaml is missing

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2021-08-25 10:36] fridex commented on #506
/reopen
/triage accepted

[2021-08-25 10:36] sesheta commented on #506
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/506#issuecomment-905382979):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-25 10:38] fridex commented on #150
/reopen
/triage accepted
/remove-lifecycle rotten

[2021-08-25 10:38] sesheta commented on #150
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/150#issuecomment-905384224):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-25 10:53] fridex commented on #671
/triage accepted
/remove-lifecycle rotten
/reopen

[2021-08-25 10:53] sesheta commented on #671
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/671#issuecomment-905392697):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-25 11:14] fridex commented on #790
It might be good to just report this in kebechet logs and continue. Not sure if there is anything more we can do in such cases.

[2021-08-25 13:28] KPostOffice commented on #797
Kebechet should fail in this case but we should instead open an issue with why and an example `.thoth.yaml` file

[2021-08-25 13:29] KPostOffice commented on #795
RUNTIME_ENVIRONMENT_NAME is not being set during the adviser workflow.  Since runtime_environment is passed as a file to adviser I will extend Kebechet to be able to parse the runtime_environment name from a passed file.

[2021-08-25 13:30] fridex commented on #797
What about directly opening a pull request with `.thoth.yaml` to be reviewed?

[2021-08-25 14:44] sesheta commented on #582
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-25 14:44] sesheta commented on #582
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/582#issuecomment-905564997):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-27 14:59] KPostOffice opened #800 "Extend Kebechet Image with support of python 3.7,3.9"
**Describe the bug**
https://github.com/thoth-station/solver/issues/1618

**Expected behavior**
We should either document that Kebechet update manager does not work with Py3.7 or make sure that we have more Python versions available in the Kebechet container image

**Steps**
- [ ] add Py3.7 to Kebechet Docker file
- [x] add Py3.9 to Kebechet Docker file

[2021-08-29 11:52] sesheta commented on #705
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-01 06:37] qJJt7oxN opened #802 "Kebechet is doing nothing..."
**Describe the bug**
I (goern) installed Kebechet yesterday, and it didnt do anything on https://github.com/qJJt7oxN/python-docs-hello-world

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/qJJt7oxN/python-docs-hello-world
2. Click on 'Pull Requests'
3. See no PR or Issue by Kebechet

**Expected behavior**
something

[2021-09-01 09:26] pacospace commented on #802
Is it because right now zero cluster is not working?

- [ ] Identify what do we expect from Kebechet once installed.

[2021-09-01 13:05] pacospace commented on #794
Issue cannot be opened, so we need an alternative:

- [ ] Verify if Khebut can enable issues in the repo where it is installed.

cc @harshad16 @codificat

[2021-09-01 15:22] KPostOffice commented on #802
Also related: #797, #803
Without some configuration Kebechet will not run any managers.

[2021-09-02 11:44] goern commented on #802
I added https://github.com/qJJt7oxN/python-docs-hello-world/commit/3343d9f598d4a61e83c981f9fe07f35171e40aa7

[2021-09-02 11:45] goern commented on #802
I actually removed that sesheta is assigned to issues created by version manager...

[2021-09-02 11:57] pacospace commented on #802
maybe Khebut needs to activate them when installed, see https://github.com/thoth-station/kebechet/issues/794#issuecomment-910265258

[2021-09-02 12:07] pacospace opened #805 "Kebechet thoth-advise should support also requirements.txt as stated in docs"
**Describe the bug**
See: https://github.com/qJJt7oxN/python-docs-hello-world/issues/2 and Kebechet docs: https://github.com/thoth-station/kebechet#kebechet

**To Reproduce**
Steps to reproduce the behavior:
1. Have a repo with Khebut installed
2. Have a repo with thoth-advise enabled and only requirements.txt

**Expected behavior**
thoth-advise manager is able to handle also requirements.txt

**S

[2021-09-03 08:34] goern commented on #794
This does not sound like a good idea, we should let the use of kebechet do this as a pre-requisite?!

[2021-09-03 08:42] pacospace commented on #794
Yes, sounds good, when they install Khebut, they should do that, but if they forget how do we reach them? opening a PR with .thoth.yaml maybe and saying "Remember to activate issues if you want to use Thoth services"

[2021-09-03 08:49] goern commented on #794
ja, sounds good

[2021-09-03 10:42] xtuchyna commented on #705
not working on this, not sure whether this issue should stay here or not

[2021-09-03 10:54] xtuchyna commented on #485
Could not be reproducible I guess :shrug: leaving this matter as closed then?

[2021-09-07 08:50] pacospace opened #807 "Extend Kebechet to manage dependencies in jupyter notebook"
**Is your feature request related to a problem? Please describe.**
As Kebechet user,

I have notebooks with dependencies in my repositories, but I cannot receive update in those dependencies.

**Describe the solution you'd like**
Extend Kebechet to manage dependencies in jupyter notebook

**Describe alternatives you've considered**

**Additional context**

[2021-09-10 02:23] sesheta commented on #777
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-10 02:23] sesheta commented on #701
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-10 02:23] sesheta commented on #701
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/701#issuecomment-916581149):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-10 02:23] sesheta commented on #777
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/777#issuecomment-916581140):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-12 08:24] sesheta commented on #711
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-12 08:24] sesheta commented on #711
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/711#issuecomment-917588354):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-12 14:24] sesheta commented on #727
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-12 14:24] sesheta commented on #727
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/727#issuecomment-917646407):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-13 10:07] goern commented on #711
/remove-lifecycle rotten
/reopen

@xtuchyna any update on this?

[2021-09-13 10:07] sesheta commented on #711
@goern: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/711#issuecomment-918037031):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-09-13 10:08] goern commented on #693
/remove-lifecycle rotten
/lifecycle frozen
/reopen

[2021-09-13 10:08] sesheta commented on #693
@goern: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/693#issuecomment-918038560):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-09-13 10:09] goern commented on #701
/remove-lifecycle rotten
/reopen

[2021-09-13 10:09] sesheta commented on #701
@goern: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/701#issuecomment-918039100):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-09-15 08:26] goern commented on #669
/remove-lifecycle rotten

[2021-09-15 08:26] goern commented on #629
/remove-lifecycle rotten

[2021-09-15 13:05] KPostOffice commented on #807
* Add metadata which states which overlay is associated with the Notebook
* Priority between notebook vs Pipenv in new manager's configuration (have one of the two be the default and document this)

[2021-09-15 13:08] harshad16 commented on #546
/remove-lifecycle rotten

[2021-09-15 13:08] harshad16 commented on #679
/remove-lifecycle rotten

[2021-09-15 13:09] harshad16 commented on #705
/remove-lifecycle rotten

[2021-09-15 13:09] harshad16 commented on #540
/remove-lifecycle rotten

[2021-09-15 13:10] KPostOffice commented on #805
/assign @KPostOffice

[2021-09-15 13:20] KPostOffice commented on #800
/triage accepted

[2021-09-15 15:12] KPostOffice opened #811 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-09-15 15:21] #811 closed

[2021-09-15 15:42] sesheta opened #812 "new minor release"

[2021-09-15 16:09] #812 closed

[2021-09-15 21:06] codificat opened #814 "Missing context in support issues created from exceptions"
**Describe the bug**

Support issues created by Kebechet when one of its managers hits an exception do not contain information about the source repo.

This can make it hard to solve some of them.

**To Reproduce**
Steps to reproduce the behavior:

1. Encounter a situation where a Kebechet manager throws an exception
2. Kebechet opens an issue in the support repo
3. See the created issue

**Expecte

[2021-09-15 22:05] KPostOffice commented on #805
This was actually fixed by https://github.com/thoth-station/kebechet/commit/7f325bd64fd4202fc637af6ccccab00860cb418f

[2021-09-15 22:05] KPostOffice commented on #805
/close

[2021-09-15 22:05] sesheta commented on #805
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/805#issuecomment-920414944):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-09-15 22:05] #805 closed

[2021-09-16 07:33] pacospace commented on #805
Sorry @KPostOffice where is the logic handling requirements.txt in thoth-advise?

[2021-09-16 13:37] goern commented on #800
/priority important-soon

[2021-09-16 13:38] goern commented on #540
/lifecycle frozen
/help

[2021-09-16 13:38] sesheta commented on #540
@goern:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/thoth-station/kebec

[2021-09-16 21:10] KPostOffice commented on #814
@codificat I have added the link to the responsible repository, is there anything else which should be added

[2021-09-17 15:08] goern commented on #792
/assign @Gregory-Pereira
/assign @KPostOffice
/priority important-soon

[2021-09-17 15:08] goern commented on #793
/priority important-soon

[2021-09-17 15:08] goern commented on #794
/priority important-soon

[2021-09-17 15:09] goern commented on #797
/priority important-soon
/help

[2021-09-17 15:09] sesheta commented on #797
@goern:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/thoth-station/kebec

[2021-09-17 16:39] pacospace commented on #797
I think this was solved by @KPostOffice already @goern , see: https://github.com/thoth-station/support/pull/21

[2021-09-17 16:39] pacospace commented on #797
We can close this, feel free to reopen it!

[2021-09-17 16:39] #797 closed

[2021-09-19 11:15] codificat commented on #814
Thanks @KPostOffice. The link to the originating repo it should be enough for now, so let's
/close
this one. We can open separate issues for more fine tuned exception handling, per exception type (e.g. handle ConnectionError)

[2021-09-19 11:15] sesheta commented on #814
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/814#issuecomment-922456629):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-09-19 11:15] #814 closed

[2021-09-20 10:43] goern opened #822 "typo and formatting issue"
https://github.com/thoth-station/kebechet/blob/235190d0c112fc541d195c6188bcf8dfecc2338d/kebechet/managers/update/messages.py#L225

/kind bug
/priority important-soon
/assign @goern
/assign @KPostOffice

[2021-09-20 11:11] #822 closed

[2021-09-20 13:05] harshad16 opened #825 "Kebechet getting overwhelmed with requests."
**Describe the bug**
we have noticed, when there is a surge in the amount of requests coming in from GitHub events,
the kebechect job are getting missed. The reason for this could be multiple as we have lot of interaction point:
1. github webhooks: github might be missing webhook
2. kafka: user-api sending kafka message for kebechet might be missing
3. consumer: consumer might be skipping over som

[2021-09-21 15:47] pacospace opened #827 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-09-21 15:57] #827 closed

[2021-09-23 05:30] sesheta commented on #570
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 05:30] sesheta commented on #570
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 05:30] #570 closed

[2021-09-23 05:30] sesheta commented on #570
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/570#issuecomment-925517089):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-23 14:30] sesheta commented on #774
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 14:30] sesheta commented on #774
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 14:30] sesheta commented on #776
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 14:30] sesheta commented on #676
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 14:30] sesheta commented on #676
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 14:30] sesheta commented on #776
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 14:30] #676 closed

[2021-09-23 14:30] sesheta commented on #676
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/676#issuecomment-925870810):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-23 14:30] #774 closed

[2021-09-23 14:30] sesheta commented on #774
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/774#issuecomment-925870755):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-23 18:51] KPostOffice opened #830 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-09-23 19:03] #830 closed

[2021-09-23 19:08] sesheta opened #832 "new patch release"

[2021-09-23 19:23] #832 closed

[2021-09-23 20:30] sesheta commented on #714
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 20:30] sesheta commented on #714
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 20:31] sesheta commented on #714
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/714#issuecomment-926131780):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-23 20:31] #714 closed

[2021-09-24 08:30] sesheta commented on #577
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 08:30] sesheta commented on #577
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 08:31] sesheta commented on #577
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/577#issuecomment-926446827):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-24 11:31] sesheta commented on #748
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 11:31] sesheta commented on #748
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 11:31] sesheta commented on #506
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 11:31] sesheta commented on #506
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 11:31] sesheta commented on #150
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 11:31] sesheta commented on #150
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 11:31] #506 closed

[2021-09-24 11:31] sesheta commented on #506
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/506#issuecomment-926553694):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-24 11:31] sesheta commented on #748
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/748#issuecomment-926553673):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-24 11:31] sesheta commented on #150
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/150#issuecomment-926553723):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-24 14:31] sesheta commented on #671
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 14:31] sesheta commented on #671
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 14:31] #671 closed

[2021-09-24 14:31] sesheta commented on #671
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/671#issuecomment-926674464):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-24 17:31] sesheta commented on #790
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 17:31] sesheta commented on #790
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 17:31] sesheta commented on #582
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 17:31] #790 closed

[2021-09-24 17:31] sesheta commented on #582
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 17:31] sesheta commented on #790
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/790#issuecomment-926802913):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-24 17:31] sesheta commented on #582
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/582#issuecomment-926802950):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-27 21:10] erikerlandson commented on #825
any new developments on resolving this problem?

[2021-09-27 21:27] sesheta opened #838 "new patch release"

[2021-09-29 20:29] KPostOffice commented on #793
/close
Fixed by the above PR

[2021-09-29 20:29] sesheta commented on #793
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/793#issuecomment-930519541):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-09-29 20:29] #793 closed

[2021-09-30 14:00] MichaelClifford commented on #825
Any update on this @harshad16 ? we are trying to get kebechet on a couple of the os-climate repo's and it seems like its still not working there. Anything we can do on our end to speed this up?

[2021-09-30 22:02] KPostOffice commented on #825
Hey @MichaelClifford this is actually an issue with Kebechet's update manager. It is failing because one of the direct dependencies is not showing up in the Pipfile.lock. If you relock it manually I think it should alleviate your issues. Let me know if there's anything else you need.

For reference:
https://github.com/thoth-station/support/issues/82
This will be fixed by:
https://github.com/thoth-

[2021-09-30 22:06] KPostOffice commented on #825
What repositories is it inoperative on? I can run Kebechet locally on a fork in order to make sure that there aren't any other issues.

[2021-10-01 12:23] MichaelClifford commented on #825
@KPostOffice Its all the repo's in the OS-Climate org, but you can test it on https://github.com/os-climate/aicoe-osc-demo

Thanks!

[2021-10-02 14:32] sesheta commented on #802
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-10-04 07:00] goern commented on #802
/remove-lifecycle rotten

[2021-10-04 07:01] goern commented on #825
/assign @KPostOffice
/lifecycle active

[2021-10-04 12:55] MichaelClifford commented on #825
For reference:
thoth-station/support#82
This will be fixed by:
#845

@chauhankaranraj can you try this out on the os-climate/aicoe-osc-aicoe repo and see if it gets kebechet working?

[2021-10-04 20:33] MichaelClifford commented on #825
cc @Shreyanand

[2021-10-05 07:36] goern commented on #802
/priority importnant-soon
/assign @KPostOffice

[2021-10-05 07:36] sesheta commented on #802
@goern: The label(s) `priority/importnant-soon` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/802#issuecomment-934147059):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestio

[2021-10-05 07:37] goern commented on #802
/priority important-soon

[2021-10-06 19:11] MichaelClifford commented on #825
@KPostOffice here is the PR with the newly locked pipfile in our repo. Is this what you meant by your suggestions above?
https://github.com/os-climate/aicoe-osc-demo/pull/34

[2021-10-06 19:47] MichaelClifford commented on #825
What level of access the does Sesheta need as a repo collaborator? Is "Read" sufficient?

[2021-10-07 15:14] fridex opened #847 "New manager handling automatic releases"
**Is your feature request related to a problem? Please describe.**
As discussed on the tech talk:

As a user of Thoth, I would like to be able to configure Kebechet to automatically create new releases. For this, I would like to utilize labels on GitHub - if a user or bot adds a label to a pull request (ex. "release-on-merge") Kebechet will create an issue "New * release" (based on configuration).

[2021-10-07 15:16] fridex opened #848 "Extend issue body when opening pull-requests with configuration"
**Is your feature request related to a problem? Please describe.**
As discussed on the tech talk:

I, as a user of Kebechet, would like to have information on how to configure Kebechet on my repository. The body of PRs could be extended to guide users on how to properly configure Kebechet.

References: https://docs.google.com/document/d/1XmXYEWEwgOBHqdJkUTmhBvUb41pr5GIR2pePasvvZ1s/edit#

[2021-10-07 15:19] fridex opened #849 "Extend Kebechet managers with "enabled" flag"
**Is your feature request related to a problem? Please describe.**

As discussed on the Tech talk:

I, as a user, would like to disable a manager but preserve entry in the `managers` section in `.thoth.yaml` file. To support this, we could add a new entry, such as "enabled", to the Kebechet manager entry.

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

D

[2021-10-10 11:33] sesheta commented on #777
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/777#issuecomment-939465959):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-10-11 08:13] #849 closed, assigned to nobody

[2021-10-11 20:11] harshad16 opened #854 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-10-11 20:17] #854 closed

[2021-10-11 20:36] sesheta opened #858 "new patch release"

[2021-10-11 20:44] JamesKunstle opened #860 "Automatically raised Key error for 'src' Pipfile.lock member not having 'version' key in package_info dictionary."
**Describe the bug**
Following up on this issue: https://github.com/sandiego-rh/sandiego/issues/36
Kebechet threw a runtime exception when running the '_get_all_packages_versions()' function as a part of an automated task. I tracked the issue back to the likeliest inclusion in our Pipfile.lock, being for 'src'. Reading the issue from our project, you'll see the link.

**To Reproduce**
Exception wa

[2021-10-11 20:52] #858 closed

[2021-10-12 13:57] sesheta opened #862 "new patch release"

[2021-10-13 10:05] codificat opened #864 "Loop in dependency updates in a repo"
**Describe the bug**

Currently there is a loop of updates in the [solver repo](

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/thoth-station/solver
2. Find the list of issues and PRs

You will see lots of closed issues like thoth-station/solver#2965 and PRs like thoth-station/solver#1871 with hundreds of rebases

**Expected behavior**

No loop.

**Screenshots**

Se

[2021-10-13 13:16] codificat commented on #582
This depends on the availability of a production isis API.
/priority awaiting-more-evidence
/remove-lifecycle rotten

[2021-10-14 16:51] harshad16 opened #866 "changelog update is running into out of range issue"
**Describe the bug**
Kebechet version manager executes changelog update, which is running into the issue.

[code]

[2021-10-14 18:52] goern opened #870 "branches created by kebechet should start with `kebechet-`"
**Is your feature request related to a problem? Please describe.**
so that branches created by kebechet are not protected by prow, they need to start with `kebechet-`, see https://github.com/thoth-station/thoth-application/blob/master/prow/overlays/smaug/config.yaml#L64

/assign @KPostOffice

[2021-10-14 19:35] #866 closed

[2021-10-14 20:10] sesheta opened #871 "new patch release"

[2021-10-15 12:57] #871 closed

[2021-10-18 08:34] pacospace opened #872 "Improve user experience: when using Kebechet update issue would be nice to receive stack info or any feedback also when adviser fails"
**Is your feature request related to a problem? Please describe.**
When using Kebechet update issue I would like to receive some feedbacks from thoth even if resolution failed instead of having an empty issue.

Example:
https://github.com/thoth-station/ps-ip/issues/12

**Describe the solution you'd like**
Get error logs in the issue from adviser reports:

[code]
**Describe alternatives you've cons

[2021-10-18 13:21] fridex opened #873 "Optimize Kebechet runs in a deployment"
**Is your feature request related to a problem? Please describe.**

It looks like we are not effectively utilizing cluster resources for Kebechet. Kebechet is run on each webhook received which might easily flood the whole namespace, especially with active repositories. Let's have a way to limit the number of Kebechet pods for a single repository in a deployment.

**Describe the solution you'd lik

[2021-10-19 13:45] xtuchyna opened #875 "Unrelated commit in Kebechet update issue"
**Describe the bug**
After requesting kebechet for an update, it says that the issue is no longer relevant and references unrelated commit
See https://github.com/thoth-station/mi/issues/472

**Expected behavior**
Should reference commit in related PR, which is https://github.com/thoth-station/mi/pull/473

/kind bug

[2021-10-19 14:57] codificat opened #876 "Lookup of mainainers within the OWNERS file apparently references an invalid key"
**Describe the bug**

The lookup of maintainers here:
https://github.com/thoth-station/kebechet/blob/v1.5.5/kebechet/managers/version/version.py#L198

seems to reference a `maintainers` section within the `OWNERS` file. However, the [spec for this file](https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md#owners) does not include such a section.

**To Reproduce**

I hav

[2021-10-20 05:27] goern commented on #876
I think maintainers is something found in .thoth.yaml and the version plugin coding section of it? @fridex

[2021-10-29 07:14] #876 closed, assigned to nobody

[2021-11-01 09:06] khebhut[bot] opened #882 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 961661f5adc8b9ff4124840bc7dd0058505a8cc9.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2021-11-01 09:06] sesheta commented on #882
@khebhut[bot]: The label(s) `/label thoth/potential-flake` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/ocp4-stage, deployment_name/ocp4-test, deployment_name/moc-prod, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind/question, s

[2021-11-02 13:13] #882 closed

[2021-11-03 08:05] goern opened #887 "extend issues created by kebechet to carry more information"
**Is your feature request related to a problem? Please describe.**
Looking at https://github.com/thoth-station/s2i-minimal-notebook/issues/295 it is unclear which version of what manager created the issue, some more information being visible on the issue itself are helpful.

**Describe the solution you'd like**
a kebechet version info details-section

**Describe alternatives you've considered**
n/

[2021-11-03 08:08] goern commented on #875
/priority important-longterm
/assign @KPostOffice
/triage accepted

[2021-11-03 08:25] goern opened #888 "add Kebechet version identifier to support issues"
To track versions, it might be a good idea to add Kebechet version identifier to these support issues.

_Originally posted by @fridex in https://github.com/thoth-station/support/issues/132#issuecomment-954487331_

/kind feature
/priority important-soon

[2021-11-03 08:25] sesheta commented on #888
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](htt

[2021-11-03 08:25] goern commented on #888
/triage accepted

[2021-11-03 08:27] goern opened #889 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

this is for https://github.com/thoth-station/support/issues/130

[2021-11-03 08:27] sesheta commented on #889
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](htt

[2021-11-03 08:31] goern commented on #889
/triage accepted
this is fixed in https://github.com/thoth-station/kebechet/commit/aaeb9a8c64d9958bac0bd3062051c0c179567af1

[2021-11-03 08:39] #889 closed

[2021-11-03 08:39] pacospace commented on #887
It is actually in the environment details of the issue:

[code]

and that issue should be related to missing py3.9 in Kebechet: https://github.com/thoth-station/kebechet/pull/883

[2021-11-03 12:01] codificat commented on #887
Right, kebechet version is there.

@goern: other than version information, is there any additional information that should be added?
/sig user-experience

[2021-11-03 14:37] goern opened #891 "have update/adivse manager create comments on issues (if triggered by issues)"
**Is your feature request related to a problem? Please describe.**
see https://github.com/thoth-station/ps-ip/issues/15 the user feels a little left alone if kebechet is not commenting on this kind of issues.

**Describe the solution you'd like**
TBD

**Describe alternatives you've considered**
TBD

**Additional context**
TBD

/priority important-soon

Cc: @pacospace @EldritchJS

[2021-11-03 14:37] sesheta commented on #891
@goern: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](htt

[2021-11-03 14:37] pacospace commented on #891
Related-to: https://github.com/thoth-station/kebechet/issues/872

[2021-11-03 14:38] goern commented on #891
d'uh :) didnt see that :/

[2021-11-03 14:54] codificat commented on #891
more than related, it seems
/triage duplicate
/close

[2021-11-03 14:54] #891 closed

[2021-11-03 14:54] sesheta commented on #891
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/891#issuecomment-959329452):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-11-05 21:10] KPostOffice commented on #888
Solved by: #892
/close

[2021-11-05 21:10] #888 closed

[2021-11-05 21:10] sesheta commented on #888
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/888#issuecomment-962222322):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-11-08 12:59] goern commented on #887
let's start with the version...

[2021-11-08 20:21] harshad16 opened #894 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v1.6.0

[2021-11-09 06:21] harshad16 commented on #894
Failed due to:
[code]

[2021-11-09 06:39] harshad16 opened #895 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-11-09 06:40] #895 closed

[2021-11-09 06:40] sesheta opened #896 "new patch release"

[2021-11-09 06:40] sesheta commented on #896
@sesheta: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2021-11-09 06:44] #894 closed

[2021-11-09 06:48] #896 closed

[2021-11-09 06:51] harshad16 opened #898 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v1.6.1

[2021-11-09 11:12] pacospace opened #899 "Kebechet image fails building due to fasttext library"
**Describe the bug**
Kebechet image fails building due to fasttext library

**To Reproduce**
Steps to reproduce the behavior:
1. Open Deliver Container Image issue

**Expected behavior**
kebechet image builds successfully

**Screenshots**
[code]

**Additional context**
new kebechet image is required in many repos

[2021-11-09 11:12] sesheta commented on #899
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-09 11:13] pacospace commented on #899
https://github.com/thoth-station/kebechet/issues/898 not succeeding:  https://tekton.operate-first.cloud/#/namespaces/opf-ci-pipelines/pipelineruns/aicoe-issue-c1f4e097-a438-436a-acde-d290d9eba5de?pipelineTask=issue-release-run&step=build

[code]

[2021-11-09 11:13] pacospace commented on #899
/triage accepted

[2021-11-09 15:05] harshad16 commented on #899
Noticed the same issue
This seems to be corresponding to this issue: https://github.com/facebookresearch/fastText/issues/1052
let downgrade the fasttext

[2021-11-09 19:39] #898 closed

[2021-11-09 19:39] #899 closed

[2021-11-12 16:52] codificat commented on #150
Bug in the bot (already fixed) - the issue was not rotten at the time.

/reopen
/remove-lifecycle rotten

[2021-11-12 16:52] sesheta commented on #150
@codificat: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/150#issuecomment-967264181):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-11-15 11:10] pacospace opened #902 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-11-15 11:23] #902 closed

[2021-11-15 11:59] sesheta opened #903 "new patch release"

[2021-11-15 11:59] sesheta commented on #903
@sesheta: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2021-11-15 13:17] codificat commented on #872
/sig user-experience

[2021-11-15 15:10] #903 closed

[2021-11-15 15:11] sesheta opened #905 "new patch release"

[2021-11-15 15:11] sesheta commented on #905
@sesheta: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](h

[2021-11-15 15:33] #905 closed

[2021-11-15 17:22] codificat commented on #150
/sig user-experience

[2021-11-15 22:23] codificat commented on #150
/remove-sig cyborgs

[2021-11-16 15:27] harshad16 opened #906 "kebechet run-webhook is failing"
**Describe the bug**
The kebechet run-webhook is failing
kebechet version: v1.6.2

[code]

[2021-11-16 15:27] sesheta commented on #906
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-16 15:33] harshad16 commented on #906
the init.py import infomanager and updatemanager
which are inturn import the utils https://github.com/thoth-station/kebechet/blob/69b3375e0dd133a89fd072ead04ca2ff6088a634/kebechet/managers/update/update.py#L40

[2021-11-16 15:44] harshad16 commented on #906
/triage accepted
/lifecycle active
/priority critical-urgent

[2021-11-16 16:03] #906 closed

[2021-11-16 18:42] harshad16 opened #910 "Kebechet failing with the github.GithubException.GithubException"
**Describe the bug**

Kebechet failing with the github.GithubException.GithubException and error code 404
Kebechet version: **v1.6.3**

[code]

[2021-11-16 18:43] sesheta commented on #910
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-16 18:43] harshad16 commented on #910
/triage accepted
/lifecycle active
/priority critical-urgent

[2021-11-16 19:22] fridex opened #911 "Secrets in logs"
**Describe the bug**

It looks like the following log message keeps secret in logs:

[code]

**To Reproduce**
Steps to reproduce the behavior (see discussion in https://github.com/thoth-station/invectio/issues/122):
1. Create an issue requesting a new release
2. Check kebechet logs
3. See secret exposed in logs

**Expected behavior**

Secrets should not be present in logs.

[2021-11-16 19:22] sesheta commented on #911
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-11-16 19:22] harshad16 opened #912 "fatal: destination path '/tmp/clone-dir' already exists and is not an empty directory."
**Describe the bug**
Kebechet failes due to fatal: destination path '/tmp/clone-dir' already exists and is not an empty directory.
Kebechet version: v1.6.3

[code]

Related-to: https://github.com/thoth-station/invectio/issues/122

[2021-11-16 19:22] sesheta commented on #912
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-16 19:22] #912 closed

[2021-11-17 16:02] harshad16 opened #913 "Kebechet fails due to the git command error"
Kebechet version: v1.6.4
[code]
https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/thoth-backend-prod/pods/kebechet-job-211117154832-914b642af9c5b505-2746006291/logs?container=main

_Originally posted by @harshad16 in https://github.com/thoth-station/solver-error-classfier/issues/10#issuecomment-971721071_

[2021-11-17 16:02] sesheta commented on #913
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-17 21:28] KPostOffice commented on #847
https://github.com/thoth-station/kebechet/pull/877

[2021-11-17 21:35] codificat commented on #870
Fixed by #916
/close

[2021-11-17 21:35] sesheta commented on #870
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/870#issuecomment-972073012):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-11-17 21:35] #870 closed

[2021-11-18 06:05] harshad16 commented on #913
fixed with #915

[2021-11-18 06:05] #913 closed

[2021-11-18 06:05] harshad16 commented on #911
Fixed with https://github.com/thoth-station/kebechet/pull/909

[2021-11-18 06:05] #911 closed

[2021-11-18 06:08] harshad16 opened #917 "Kebechet fails to generate changelog even though the difference of commit exists."
**Describe the bug**

Kebechet fails to generate changelog, as while executing the gather of tags or commit, it is getting empty string in return
which causes the changelog difference to be 0.

**Kebechet: v1.6.5**
[code]
Reference: https://github.com/thoth-station/invectio/issues/122#issuecomment-972536220

[2021-11-18 06:08] sesheta commented on #917
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-18 06:09] harshad16 commented on #917
/triage accepted
/lifecycle active
/priority critical-urgent

[2021-11-18 14:07] KPostOffice commented on #917
Sorry, this is a sneaky bug. I think this happened because we clone with depth=1 elsewhere. And because we are reusing the repo from before we don't download the full history.

[2021-11-18 16:04] pacospace commented on #917
Also appeared in https://github.com/thoth-station/storages/issues/2481 and https://github.com/thoth-station/mi/issues/492

[2021-11-19 10:22] pacospace opened #921 "tag on quay uses branch name with kebechet prefix"
**Describe the bug**
tag on quay uses branch name with kebechet prefix

**To Reproduce**
Steps to reproduce the behavior:
1.Create a release with Kebechet

**Expected behavior**
Tag does not have kebechet prefix

**Screenshots**
![Screenshot from 2021-11-19 10-51-10](https://user-images.githubusercontent.com/27498679/142606986-73775ed7-ad0f-40a4-ae53-c42691c0e15b.png)

**Additional context**
See h

[2021-11-19 10:22] sesheta commented on #921
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-19 10:33] codificat commented on #921
/triage accepted
/priority critical-urgent

[2021-11-22 16:43] fridex opened #922 "Add `setup.cfg` support to version manager"
**Is your feature request related to a problem? Please describe.**

As a user of Kebechet, I would like to use `setup.cfg` to declaratively state information about my package. As of now, Kebechet's version manager works on specific Python files listed in docs where the version identifier is looked up. It would be great if we support also `setup.cfg` files. Users can state the version in `setup.cfg

[2021-11-22 16:43] sesheta commented on #922
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-11-23 14:57] codificat commented on #582
This could be converted to an intern project, or closed

[2021-11-23 15:05] codificat commented on #662
/sig user-experience
/assign @KPostOffice
/priority important-longterm
/remove-priority backlog

[2021-11-23 15:06] fridex commented on #582
Related: https://developers.redhat.com/articles/2021/10/06/find-and-compare-python-libraries-project2vec

[2021-11-23 15:29] codificat commented on #577
/remove-lifecycle active
still relevant but not a prio

[2021-11-23 15:42] KPostOffice commented on #921
/close

[2021-11-23 15:42] #921 closed

[2021-11-23 15:42] sesheta commented on #921
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/921#issuecomment-976741120):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-11-23 17:17] xtuchyna commented on #917
Hello, kebechet released new version and tagged it on gh with `kebechet-` prefix, is that desired?
![image](https://user-images.githubusercontent.com/46632404/143072451-a9d1785a-646c-49d5-9fa7-26817a58b071.png)

[2021-11-23 17:35] pacospace commented on #917
Thanks @xtuchyna! It was removed already in https://github.com/thoth-station/kebechet/pull/924, @KPostOffice should we make a new release for Kebechet to fix this meanwhile?

[2021-11-24 16:33] codificat opened #925 "Build versions don't work for container images"
**Describe the bug**

The format of the build versions, like `1.0.1+build.1`, is not acceptable as a container image tag.

This prevents building container images directly from a version of that kind.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to a repo with kebechet version manager enabled
2. Create an issue "New build release"
3. Wait for the PR with the version update to merge
4.

[2021-11-24 16:33] sesheta commented on #925
@codificat: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-11-24 17:10] KPostOffice opened #927 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-11-24 17:12] #927 closed

[2021-11-26 18:29] harshad16 opened #930 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-11-29 15:33] #930 closed

[2021-11-29 16:06] harshad16 commented on #917
This commit has fixed this issue: https://github.com/thoth-station/kebechet/commit/1dbd454e4837afed9503697ded8d4b9d421fef4d
also available in release v1.6.6 and above

[2021-11-29 16:06] #917 closed

[2021-11-29 16:07] harshad16 commented on #910
This is fixed with the commit : https://github.com/thoth-station/kebechet/commit/9fdc35c8a1c637dcc3d4d5b40eb50fe47b0c7358
and also available from v1.6.4 and above

[2021-11-29 16:07] #910 closed

[2021-12-01 19:09] KPostOffice opened #935 "Config Initialization Opening Multiple PRs"
**Describe the bug**
thoth-configuration-initialization is opening multiple PRs

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any

[2021-12-01 19:09] sesheta commented on #935
@KPostOffice: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [her

[2021-12-03 16:14] KPostOffice commented on #802
This workflow should be tested again:
`new_user`->`new_repo`->`fresh kebechet install`
Make sure that Kebechet is behaving as expected.
Acceptance criteria:
- [ ] When new Keb is installed, and no configuration is found Kebechet will open issue with basic configuration
- [ ] Enable update or advise manager and create an issue manually for updating and make sure that eventually Kebechet updates the

[2021-12-07 15:02] harshad16 commented on #925
/triage accepted

1. Python packaging supports unique characters like `+`.
2. semver standard also follows https://semver.org/#backusnaur-form-grammar-for-valid-semver-versions
3.  Docker tag naming convention doesn't follow `+`.

solution:
Build pipeline patching the `+` to `-`.

[2021-12-07 15:07] harshad16 commented on #922
/triage accepted
/priority important-soon

[2021-12-08 21:56] KPostOffice commented on #802
I did this with my own new repository and didn't see anything happening:
https://github.com/temposto/my_initial_repo

Might be an issue with installation

[2021-12-09 10:21] sesheta commented on #802
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/802#issuecomment-989714967):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-12-09 10:21] #802 closed

[2021-12-13 20:56] Gregory-Pereira commented on #792
Attempted to run Kebechet update and lacked permissions to test:
[code]

[2021-12-14 15:20] sesheta commented on #546
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-14 15:20] sesheta commented on #679
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-14 15:20] sesheta commented on #807
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-15 11:00] codificat commented on #800
Fedora 31 being EOL (where Python 3.7 requirement came from) there's no need to add it.

/close

[2021-12-15 11:00] #800 closed

[2021-12-15 11:00] sesheta commented on #800
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/800#issuecomment-994677116):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-12-16 15:21] sesheta commented on #794
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-16 19:52] harshad16 opened #942 "IndexError: list index out of range"
**Describe the bug**
[code]

[2021-12-16 19:52] sesheta commented on #942
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-16 19:58] harshad16 commented on #942
Reverted the https://github.com/thoth-station/thoth-application/pull/2191
due to the above issue.

cc: @KPostOffice  @pacospace

[2021-12-20 12:38] codificat opened #944 "Documentation for Kebechet is not available"
**Describe the bug**

The documentation for Kebechet can not be found online due to some broken references.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/thoth-station/kebechet/blob/a0b49c64524d2b8465506165c6d4c95c07f51472/README.rst
2. Click on the link under "Full documentation", which points to https://thoth-station.ninja/docs/developers/kebechet
3. Get a `404 N

[2021-12-20 12:38] sesheta commented on #944
@codificat: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2021-12-20 12:39] fridex commented on #944
Might be related: https://github.com/thoth-station/nepthys/issues/80

[2021-12-21 12:38] codificat commented on #944
/triage accepted
/priority critical-urgent
/sig docs

[2021-12-21 13:54] codificat commented on #942
/transfer workflow-helpers
where the referenced code is

[2021-12-21 18:34] fridex opened #945 "Point users to use thamos instead of pipenv"
**Is your feature request related to a problem? Please describe.**

See for example https://github.com/thoth-station/aicoe-ci-pulp-upload-example/issues/20#issue-1086102656. It would be great if Kebechet suggests to use thamos CLI to create requirements file.

**Describe the solution you'd like**

Replace Pipenv references with thamos instructions.

[2021-12-21 18:34] sesheta commented on #945
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2021-12-21 19:10] fridex commented on #945
/assign @KPostOffice

[2021-12-21 21:17] codificat commented on #942
Trying again now that the prow plugin is there:
/transfer workflow-helpers

[2021-12-24 15:09] #944 closed

[2022-01-04 21:23] sesheta commented on #825
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-05 12:32] codificat opened #948 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-01-05 12:48] #948 closed

[2022-01-05 15:23] sesheta commented on #848
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-06 12:23] sesheta commented on #711
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-11 22:20] KPostOffice commented on #945
Should we point to both `pipenv` and `thamos` as resolution engines or should we just put thamos?

[2022-01-11 22:29] KPostOffice commented on #935
The issue I noticed just had to do with the branch name changing between commits which is what is being used to check if the PR already exists. This is a non-issue

[2022-01-11 22:29] #935 closed

[2022-01-12 09:08] fridex commented on #945
thamos preferably - that's something we would like to support

[2022-01-12 22:23] #945 closed

[2022-01-13 15:23] sesheta commented on #679
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-13 15:23] sesheta commented on #546
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-13 15:23] sesheta commented on #807
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-13 16:16] codificat opened #957 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-01-13 16:37] #957 closed

[2022-01-13 17:04] codificat opened #960 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v1.7.0

[2022-01-14 08:35] codificat commented on #960
This seems to have failed but the pipeline run is gone, will try again
/close

[2022-01-14 08:35] #960 closed

[2022-01-14 08:35] sesheta commented on #960
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/960#issuecomment-1012914393):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-01-14 08:35] codificat opened #962 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag: (new try after #960)

Tag: v1.7.0

[2022-01-14 12:35] goern commented on #693
/priority important-longterm

[2022-01-14 13:12] codificat commented on #962
This is failing for a similar reason as #899:

[code]

I believe this is a resources issue. `pipenv` does manage to install the specified deps on a local environment

[2022-01-14 13:48] goern commented on #860
any update on this?

[2022-01-14 13:48] goern commented on #777
any update on this?

[2022-01-14 14:01] KPostOffice commented on #875
This issue is ifixed, the message will only occur if the dependencies are up to date. Though it could do with a better message.

[2022-01-14 16:00] khebhut[bot] opened #966 "Kebechet thoth-advise manager: AttributeError on kebechet_runners.py:210"
## Description
This is an automated issue generated by Kebechet v1.6.7. The thoth-advise manager threw an exception (AttributeError)
at runtime while working on the following repository https://github.com/AICoE/elyra-aidevsecops-tutorial

## Traceback
[code]

[2022-01-14 16:13] harshad16 commented on #792
Thanks for all you have contributed to fix this issue.
This still seems to be an issue, i will try to contribute as well.

[2022-01-14 17:16] harshad16 opened #963 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v1.6.8

[2022-01-14 17:53] #962 closed

[2022-01-14 18:13] harshad16 commented on #792
while following the issue, it seems
the user lookup has this inclusion : https://github.com/thoth-station/kebechet/blob/0b0cdf55b3a404ffe4d44a9d0c5e413e05c943ee/kebechet/managers/thoth_advise/thoth_advise.py#L250
however the part is now updated
https://github.com/KPostOffice/kebechet/blob/6992ee19618282af07171a8bc6203816f4f7777a/kebechet/managers/thoth_advise/thoth_advise.py#L253

will test with t

[2022-01-14 18:18] harshad16 commented on #963
Kebechet has failed to build:
[code]

[2022-01-14 18:42] KPostOffice commented on #792
The first example is getting the user based on the authenticated service. This is in reality what we want, however, there is an issue in OGR where certain types of authentication return None for a services user. The change is a way around this by directly using the APP_NAME in environment since it is the same as the the username

[2022-01-14 18:51] codificat commented on #792
it seems that this traceback is a duplicate of https://github.com/thoth-station/support/issues/140, reported as fixed via #937

But that's quite unrelated to an OOM issue being reported here, right?

[2022-01-14 19:04] Gregory-Pereira commented on #792
yeah, I think I misunderstood this at the time. I was trying to share what blocked me from getting to the point where it would fail from being OOM.

[2022-01-14 20:26] harshad16 commented on #792
The issue was submitted when there was an OOM issue.
However, in a recent investigation, it seems there is a new issue.
[code]

until we resolve this issue, we cant get to the OOM issue.

[2022-01-14 22:21] KPostOffice commented on #792
@harshad16 I will fix this rn. I missed a reference to `get_user()`. I will replace it with `APP_NAME`

[2022-01-15 15:24] sesheta commented on #794
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-16 15:24] sesheta commented on #873
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-17 08:39] goern commented on #966
/triage accepted
/priority critical-urgent
/kind bug
/assign @KPostOffice

[2022-01-17 09:55] codificat commented on #792
This was changed in #937, and the change `6992ee19618282af07171a8bc6203816f4f7777a) is included in v1.6.8.

Isn't it the other way around? The OOM issue (or something that kills gcc) is preventing a build of the image with the updated code (e.g. #963):

[code]

[2022-01-17 09:59] codificat commented on #966
/close
/triage duplicate
of https://github.com/thoth-station/support/issues/140 (which is fixed but not yet deployed)

[2022-01-17 09:59] #966 closed

[2022-01-17 09:59] sesheta commented on #966
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/966#issuecomment-1014338061):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-01-17 14:30] harshad16 commented on #794
/life-cycle frozen
/kind feature

[2022-01-17 14:40] harshad16 commented on #794
/lifecycle frozen

[2022-01-17 15:16] harshad16 opened #967 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-01-17 15:42] #967 closed

[2022-01-17 16:12] harshad16 opened #969 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v1.7.1

[2022-01-17 16:18] sesheta commented on #969
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/kebechet-job:v1.7.1](https://quay.io/thoth-station/kebechet-job:v1.7.1)

[2022-01-17 16:18] #969 closed

[2022-01-17 21:59] KPostOffice commented on #873
/remove-lifecycle stale
/priority important-longterm

[2022-01-18 15:08] KPostOffice opened #972 "Integration tests for Kebechet"
**Is your feature request related to a problem? Please describe.**
We want to create some integration/behavior tests for Kebechet.

**Describe the solution you'd like**
Come up with user stories and use `behave` to define them. The current thought for doing this is having behave set up and tear down a fresh repository for each scenario.

**Describe alternatives you've considered**
A clear and conc

[2022-01-18 15:08] sesheta commented on #972
@KPostOffice: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [her

[2022-01-18 15:30] codificat commented on #872
Improvements are in current Kebechet. In case they are not enough, feel free to reopen

/close

[2022-01-19 17:36] harshad16 opened #976 "fatal: --unshallow on a complete repository"
**Describe the bug**

Opened a release issue on a [repo](https://github.com/thoth-station/pulp-metrics-exporter) and the pod working on the issue
throw the following error:
[code]

**Additional context**
Further disclosure:
https://github.com/thoth-station/pulp-metrics-exporter/issues/11#issuecomment-1016700005
log:
[kebechet-job-220119172143-e6e3f9ccb95c9268-1555821654-main.log](https://github.co

[2022-01-19 17:36] sesheta commented on #976
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-19 17:37] fridex commented on #976
I think this is part of @KPostOffice patch in https://github.com/thoth-station/kebechet/pull/973

[2022-01-19 20:56] KPostOffice commented on #976
Yeah, this is fixed with the PR that @fridex mentioned

[2022-01-20 10:57] fridex commented on #976
Can we do a new Kebechet release to address the issue?

[2022-01-21 20:59] KPostOffice opened #977 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-01-21 20:59] KPostOffice commented on #976
https://github.com/thoth-station/kebechet/issues/977

[2022-01-21 21:01] KPostOffice commented on #972
/assign @KPostOffice

[2022-01-23 07:06] harshad16 commented on #977
Kebechet cant resolve this due to the same issue as the unshallow.

[2022-01-23 07:33] #977 closed

[2022-01-24 14:13] harshad16 commented on #977
Initially, the kebechet triggered by this issue had failed with the following log:
[kebechet-job-220123054016-499bc674c7c46105-4063805420-main.log](https://github.com/thoth-station/kebechet/files/7926123/kebechet-job-220123054016-499bc674c7c46105-4063805420-main.log)

However, once I created a manual released and merged it.
kebechet was able to fulfill the release requirement. i.e I had closed the

[2022-01-24 16:36] harshad16 commented on #976
This seems to have been resolved
thank you :100:

[2022-01-24 16:42] harshad16 opened #981 "fatal: ambiguous argument unknown revision or path not in the working tree"
**Describe the bug**
This request was opened by one of the user of kebechet.
https://github.com/AICoE/summit-2021-octo-keynote/issues/52
However the kebechet pod failed with the following error:
[code]

[2022-01-24 16:42] sesheta commented on #981
@harshad16: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-24 20:46] KPostOffice commented on #981
/assign @KPostOffice
/lifecycle active

[2022-01-24 21:08] KPostOffice commented on #981
Issue has to do with "v" being dropped from the beginning of the ref

[2022-01-24 21:53] KPostOffice commented on #981
fixed by: https://github.com/thoth-station/kebechet/pull/982
/close

[2022-01-24 21:53] sesheta commented on #981
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/981#issuecomment-1020585585):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-01-24 21:53] #981 closed

[2022-01-25 15:25] sesheta commented on #669
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-25 15:25] sesheta commented on #629
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-25 16:46] pacospace opened #983 "Kebechet failing during release issue request"
**Describe the bug**
Kebechet failing during release issue request

**To Reproduce**
Steps to reproduce the behavior:
1. Trigger release issue

**Expected behavior**
Kebechet create the tag correctly and release pipeline is triggered

**Screenshots**
[code]

**Additional context**
Add any other context about the problem here.

[2022-01-25 16:46] sesheta commented on #983
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-01-25 17:34] codificat commented on #983
as far as I understand:

/triage duplicate
of #981, which is reported as fixed by #982, would need a new patch release

[2022-01-25 17:42] codificat opened #985 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

So we can deploy the fix for #981

[2022-01-25 17:46] codificat commented on #983
ah, another chicken and egg situation here

[2022-01-25 17:49] codificat commented on #985
Well, that's not going to work... precisely due to that issue.

@harshad16 we need a manual intervention here to release a 1.7.3, right?

[2022-01-25 21:25] #983 closed

[2022-01-25 21:25] #985 closed

[2022-01-25 22:27] harshad16 commented on #629
/lifecycle frozen

[2022-01-26 14:28] fridex opened #987 "New version of Kebechet warns about missing git tags"
**Describe the bug**

See recent releases, such as https://github.com/thoth-station/storages/pull/2551 It looks like Kebechet warns about missing last version tag even though a previous version is available.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to create a new release
2. See the warning message produced

[code]

[2022-01-26 14:28] sesheta commented on #987
@fridex: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](ht

[2022-01-31 12:39] pacospace opened #993 "Add metrics about workflow latency (per manager)"

[2022-02-03 21:26] sesheta commented on #825
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-03 21:39] MichaelClifford commented on #825
/remove-lifecycle rotten

[2022-02-04 01:07] KPostOffice commented on #873
Some Kebechet features rely on the content of the webhook (i.e. if a PR was merged). If we drop webhooks we may drop functionality.

[2022-02-04 10:39] mayaCostantini opened #991 "Automatically update the base image version for new container images"
**Is your feature request related to a problem? Please describe.**
We would like to have an automatic update of the base image used to build our container images to the latest version available on Quay. See:
- https://github.com/thoth-station/thoth-application/pull/2314#issuecomment-1029721353
- https://github.com/thoth-station/user-api/pull/1657

**Describe the solution you'd like**
Implement a n

[2022-02-04 10:39] sesheta commented on #991
@mayaCostantini: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [

[2022-02-04 10:40] mayaCostantini commented on #991
/priority important-longterm

[2022-02-04 11:08] codificat commented on #991
Is this a duplicate of https://github.com/thoth-station/core/issues/359?

[2022-02-04 12:41] goern commented on #991
Ja! You found it, I was not able to find it :/

[2022-02-04 12:46] mayaCostantini commented on #991
/close
Duplicate (subset) of https://github.com/thoth-station/core/issues/359

[2022-02-04 12:46] sesheta commented on #991
@mayaCostantini: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/991#issuecomment-1029954850):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-02-04 13:42] fridex commented on #991
I think we could rethink this a bit. The referenced issue talks about bumping the base image used in `.aicoe-ci.yaml` - like in https://github.com/thoth-station/user-api/pull/1657/ I think that is one use case we could implement as discussed in the referenced issue.

Another one could be about automatic bumps in thoth-application - like in https://github.com/thoth-station/thoth-application/pull/23

[2022-02-04 13:51] fridex commented on #991
Let's talk about this on the next tech talk. Until then,

/reopen

[2022-02-04 13:51] sesheta commented on #991
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/991#issuecomment-1030003121):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-02-04 15:26] sesheta commented on #848
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-05 12:26] sesheta commented on #711
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-06 15:27] sesheta commented on #887
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-07 09:03] goern commented on #887
/remove-lifecycle stale
/label needs-triage

[2022-02-07 09:03] sesheta commented on #887
@goern: The label(s) `/label needs-triage` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/ocp4-stage, deployment_name/ocp4-test, deployment_name/moc-prod, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind/question, sig/advisor, sig/

[2022-02-07 19:31] KPostOffice commented on #993
Hey @pacospace can you explain a bit more what you are looking for? Are you asking for metrics on how long the managers take to run?

[2022-02-07 19:33] KPostOffice commented on #987
@fridex this looks like it must be an issue with whatever check adds this warning to the issue, as the changelog and version file seem to be handled fine. I will look into this really quickly. Expecting a quick fix.

/assign @KPostOffice

[2022-02-07 20:45] #987 closed

[2022-02-07 21:32] KPostOffice commented on #711
/remove-lifecycle rotten

[2022-02-07 21:37] KPostOffice commented on #711
Hey @xtuchyna I implemented this in https://github.com/thoth-station/kebechet/pull/877. Sorry I didn't realize it had been turned into an intern project

[2022-02-07 21:42] KPostOffice commented on #972
/triage accepted

[2022-02-07 21:42] KPostOffice commented on #972
/lifecycle active

[2022-02-08 08:13] pacospace commented on #993
We currently can see in metrics the time taken by the kebechet workflow, but we don't know how much time is used from each manager activated. It would be useful to also monitor how much time each manager takes as we run all managers in the same workflow.

[2022-02-08 14:04] pacospace commented on #993
- [ ] time for cloning repo metrics
- [ ] time for each manager

[2022-02-08 23:57] xtuchyna opened #997 "Kebechet does not merge approved PRs in `mi` repository"
**Describe the bug**
E.g. look here https://github.com/thoth-station/mi/pull/514

/kind bug

[2022-02-08 23:58] sesheta commented on #997
@xtuchyna: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here](

[2022-02-09 00:00] xtuchyna commented on #997
another one: https://github.com/thoth-station/mi/pull/517

[2022-02-09 13:50] pacospace commented on #997
This one was merged actually :)

[2022-02-09 13:52] xtuchyna commented on #997
2 minutes ago :tongue:
had been stale for 22hrs

[2022-02-10 14:39] KPostOffice commented on #997
@xtuchyna Kebechet is not in charge of these merges. It is covered by https://github.com/AICoE/sefkhet-abwy

[2022-02-10 14:49] KPostOffice commented on #860
I think this was solved by https://github.com/thoth-station/kebechet/commit/0cc12741cad6e5c2611487b0f4518b3c35578747 an issue should be opened on the repository in the case of a local installation

[2022-02-10 15:00] KPostOffice commented on #701
I believe this was fixed by https://github.com/thoth-station/kebechet/commit/67333054f8f236e18af1a48610687cd9e24dfdcb

[2022-02-11 15:38] KPostOffice commented on #848
/assign @KPostOffice
/lifecycle active

[2022-02-12 15:25] sesheta commented on #679
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-12 15:25] sesheta commented on #807
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-12 15:25] #679 closed

[2022-02-12 15:25] sesheta commented on #679
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/679#issuecomment-1037256755):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-02-12 15:25] sesheta commented on #807
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/807#issuecomment-1037256764):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-02-14 00:28] sesheta commented on #150
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-14 15:15] fridex opened #1002 "New feature for checking old or unused overlays"
**Is your feature request related to a problem? Please describe.**

See PR in https://github.com/thoth-station/solver/pull/5140

The PR removes overlay that is no longer used. It is not stated in `.thoth.yaml` file.

**Describe the solution you'd like**

Implement a manager or extend Kebechet in other places so that Kebechet bot checks if there are any overlays that are no longer used - a simple c

[2022-02-14 15:28] harshad16 commented on #991
Action Items:

- [ ] Discuss in the ADR on core repo about the solution.
- [ ] Proposed plan based on "Lets talk Thoth" calls was to have a separate script:
   - [ ]  Develop a python script to bump base image in pipeline-helper [repo](https://github.com/thoth-station/pipeline-helpers).
   - [ ] Have the script modular, let it take input file (ex: .aicoe-ci.yaml, .thoth.yaml) and bump base image b

[2022-02-16 00:28] sesheta commented on #847
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-16 10:07] goern commented on #997
any updates on this? do we consider it done?

[2022-02-16 10:15] goern commented on #662
any updates on this?

[2022-02-17 21:58] sesheta commented on #546
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-17 21:58] sesheta commented on #546
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/546#issuecomment-1043506976):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-02-21 13:26] sesheta commented on #546
@pacospace: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-02-21 16:07] sesheta commented on #582
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-21 16:07] sesheta commented on #705
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-21 16:07] sesheta commented on #577
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-21 22:07] codificat commented on #150
Implemented in #1001 (made a typo in the PR description that prevented automatic closure)
/close

[2022-02-21 22:07] sesheta commented on #150
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/150#issuecomment-1047259123):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-02-21 22:07] #150 closed

[2022-02-24 17:24] sesheta commented on #669
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-28 18:56] KPostOffice opened #1010 "VersionManager Labeled PRs Documentation"
Add documentation about new feature added to VersionManager which allows users to add labels to a PR so that when it is merged it will create a new release.

https://github.com/thoth-station/core/pull/337

[2022-02-28 18:56] sesheta commented on #1010
@KPostOffice: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [her

[2022-03-02 09:49] goern commented on #693
/assign @KPostOffice
could you please have a look at Kevin?

[2022-03-02 12:33] codificat opened #1015 "Version update PRs warn about not being able to find old version in tags"
## Bug description

When khebut creates a PR to address a "new version" request from an issue, sometimes (?) it adds a warning note ([this one](https://github.com/thoth-station/kebechet/blob/67c7364d46901306b15b6bd4531c49e8639e3e43/kebechet/managers/version/messages.py#L20)) saying:

However:
- the previous version tag does exist
- the existing code references that version

Also, the contents of t

[2022-03-02 12:35] sesheta commented on #1015
@codificat: This issue is currently awaiting triage.
One of the @thoth-station/devsops will take care of the issue, and will accept the issue by applying the
`triage/accepted` label and provide further guidance.

The `triage/accepted` label can be added by org members by writing `/triage accepted` in a comment.

<details>

Instructions for interacting with me using PR comments are available [here]

[2022-03-02 19:47] KPostOffice commented on #693
Yeah, will do

[2022-03-03 07:25] goern commented on #711
/close

[2022-03-03 07:25] sesheta commented on #711
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/711#issuecomment-1057751381):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2022-03-03 07:25] #711 closed

[2022-03-03 07:26] goern commented on #701
/close

[2022-03-03 07:26] sesheta commented on #701
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/701#issuecomment-1057751648):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2022-03-03 07:26] #701 closed

[2022-03-03 07:35] goern commented on #1010
/priority critical-urgent
/assign @KPostOffice
/triage accepted

[2022-03-04 08:40] goern commented on #848
@KPostOffice any update on this?!

[2022-03-04 09:29] goern commented on #727
/close
feel free to reopen this!

[2022-03-04 09:29] #727 closed

[2022-03-04 09:29] sesheta commented on #727
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/727#issuecomment-1058992737):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2022-03-04 14:00] KPostOffice commented on #577
/unassign @KPostOffice

[2022-03-04 14:00] KPostOffice commented on #577
/lifecycle freeze

[2022-03-04 20:31] KPostOffice commented on #825
Hey @MichaelClifford , I think I lost track of what we were actually trying to track with this issue. I think the issue body is still relevant but I have fixed the "package not present in pipfile.lock" issue, so that it no longer must be present in Pipfile.lock. If you've still seen this issue let me know and I'll open a new issue for that.

[2022-03-04 20:37] MichaelClifford commented on #825
Thanks @KPostOffice my main concern was getting kebechet to work on the OS-Climate repo's which it is now with [this](https://github.com/thoth-station/thoth-application/pull/2412) PR. But I think otherwise this issue can be closed?

[2022-03-04 21:44] KPostOffice commented on #825
I'm going to leave this open because I think tracking requests in vs requests processed for kebechet would be useful. I think the basic way to tell where requests are being lost is by comparing `num_messages_sent`, `num_messages_on_kafka`, and `num_kebechet_run_webhook_workflows`. Ideally all these should be the same.

## TODO:
- [ ] add metric to user-api which tracks messages sent
- [x] metric f

[2022-03-09 23:03] KPostOffice opened #1019 "Only open config init PR once"
## Problem statement
Kebechet keeps opening config initialization PRs on repositories even after I've closed the first one.

## High-level Goals
After I've closed a single config init PR I would like Kebechet to not open PRs anymore.

## Proposal description
Check to see if config init PR exists at all (opened or closed) before creating a new one.

### Additional context
https://github.com/thoth-s

[2022-03-09 23:05] KPostOffice commented on #1019
/good-first-issue

[2022-03-09 23:05] sesheta commented on #1019
@KPostOffice:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](https

[2022-03-10 17:49] fridex opened #1021 "No report if dependencies fail to update"
It looks like Kebechet does not report anything about the error here. A reproducer:

- dependencies are not updated as there is an issue - https://github.com/thoth-station/user-api/issues/1706
- create "Kebechet update" issue
-  see the "Management complete" but no report about dependency update failure

_Originally posted by @fridex in https://github.com/thoth-station/user-api/issues/1711#issueco

[2022-03-10 17:49] fridex commented on #1021
/kind bug

[2022-03-11 22:09] #848 closed

[2022-03-14 14:05] KPostOffice opened #1024 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-03-14 21:18] KPostOffice commented on #887
/close

[2022-03-14 21:18] #887 closed

[2022-03-15 17:35] KPostOffice opened #1028 "Link to search UI in advise manager PRs"
## Problem statement
I don't know what to make of the PR opened by Kebechet advise manager, I want more information about why it picked specific packages.

## High-level Goals
Provide more information about advise results in pull requests opened by advise manager

## Proposal description
Link to thoth-search UI in PRs opened by advise manager.

### Alternatives
Include justification table in the P

[2022-03-15 17:35] KPostOffice commented on #1028
/sig user-experience

[2022-03-15 17:38] KPostOffice opened #1029 "[EPIC] Tracking issues blocking Kebechet advise manager integration"
This is an issue for tracking bugs associated with advise manager as we move towards thoth mvp. Please link any issues or PRs which are relevant to this effort.

## Acceptance criteria
- [x] successfully receive thoth-advise PR in `thoth-python`

[2022-03-15 17:40] KPostOffice commented on #1029
/sig user-experience

[2022-03-16 15:39] mayaCostantini commented on #991
/close
Closed by: https://github.com/AICoE/aicoe-ci/pull/170, https://github.com/thoth-station/pipeline-helpers/pull/45, https://github.com/thoth-station/core/pull/381

[2022-03-16 15:39] #991 closed

[2022-03-17 07:36] #662 closed

[2022-03-18 02:43] sesheta commented on #847
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-18 18:54] #875 closed

[2022-03-22 14:58] #693 closed

[2022-03-23 17:29] sesheta commented on #705
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-25 11:06] codificat commented on #1019
/triage accepted
/priority backlog
/sig user-experience

[2022-03-25 11:11] codificat commented on #1015
This keeps happening, e.g. https://github.com/thoth-station/user-api/pull/1725

/triage accepted
/priority important-soon

[2022-03-28 14:49] harshad16 opened #1036 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v1.8.0

[2022-03-28 14:55] sesheta commented on #1036
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/kebechet-job:v1.8.0](https://quay.io/thoth-station/kebechet-job:v1.8.0)

[2022-03-28 14:55] #1036 closed

[2022-03-30 08:49] codificat commented on #1021
/triage accepted
/priority important-soon
/sig user-experience

[2022-04-03 14:28] sesheta commented on #577
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-06 17:28] sesheta commented on #922
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-12 15:17] xtuchyna opened #1039 "Kebechet manual update request did not update new available dependency"
## Bug description
Related issue https://github.com/thoth-station/mi-scheduler/issues/227

Tried to update new `thoth-common` dependency (https://github.com/thoth-station/common/issues/1256 ) by manually requesting kebechet,

### Actual behavior
Request did not recognize new available dependency and was not successful (khebhut referenced previous release commit and closed the issue)

### Expected

[2022-04-17 05:09] sesheta commented on #847
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-17 05:09] #847 closed

[2022-04-17 05:09] sesheta commented on #847
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/847#issuecomment-1100805316):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-04-17 10:13] sesheta commented on #792
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-18 17:13] harshad16 commented on #792
/lifecycle frozen

[2022-04-22 20:09] sesheta commented on #705
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-22 20:09] #705 closed

[2022-04-22 20:09] sesheta commented on #705
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/705#issuecomment-1106823200):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-04-26 07:28] goern commented on #794
@harshad16 @KPostOffice is this feature still required?

[2022-04-26 07:34] harshad16 commented on #794
This is good issue.
we should have it for future development.
/triage accepted
/priority important-soon

[2022-05-03 17:10] sesheta commented on #577
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-05-03 17:10] #577 closed

[2022-05-03 17:10] sesheta commented on #577
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/577#issuecomment-1116342504):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-05-06 20:11] sesheta commented on #922
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-05-06 20:11] sesheta commented on #925
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-05-06 20:11] #925 closed

[2022-05-06 20:11] sesheta commented on #922
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/922#issuecomment-1119975584):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-05-06 20:11] #922 closed

[2022-05-06 20:11] sesheta commented on #925
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/925#issuecomment-1119975580):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-05-08 22:14] sesheta commented on #972
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-11 16:15] sesheta commented on #860
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-16 10:10] goern commented on #1028
/priority important-soon
/help

[2022-05-16 10:10] sesheta commented on #1028
@goern:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/thoth-station/kebec

[2022-05-16 10:10] goern commented on #1028
/good-first-issue

[2022-05-16 10:10] sesheta commented on #1028
@goern:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](https://git

[2022-05-16 10:10] goern commented on #1028
/label good-first-issue

[2022-05-16 10:10] sesheta commented on #1028
@goern: The label(s) `/label good-first-issue

` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/ocp4-stage, deployment_name/ocp4-test, deployment_name/moc-prod, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind/question, sig/advisor

[2022-05-16 17:27] Gregory-Pereira opened #1047 "Kebechet update issue template not available for all repositories that use it"
We should have a kebechet update issue template in all repositories that use kebechet to manage its dependencies for visibility sake. An example would be that the [thoth-station/s2i-generic-data-science-notebook](https://github.com/thoth-station/s2i-generic-data-science-notebook) repo does not have access to this issue template.

[2022-05-17 10:15] sesheta commented on #993
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-17 14:55] KPostOffice commented on #1029
https://github.com/thoth-station/support/issues/181

[2022-05-17 15:41] KPostOffice opened #1050 "[2pt] Use Kebechet Lock to avoid CMake dependency"
## Bug description

https://github.com/thoth-station/ray-ml-notebook/issues/5

### Steps to Reproduce
Steps to reproduce the behavior:
1. pull Kebechet image
2. create Pipfile which matches https://github.com/thoth-station/ray-ml-notebook/blob/master/Pipfile
3. run `pipenv install --dev` using pipfile inside container
4. See error due to missing CMake

### Actual behavior
Failure to lock/install d

[2022-05-19 17:15] KPostOffice commented on #1050
/good-first-issue

[2022-05-19 17:15] sesheta commented on #1050
@KPostOffice:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](https

[2022-05-19 17:15] KPostOffice opened #1051 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-05-19 18:00] #1051 closed

[2022-05-20 10:45] codificat opened #1054 "kebechet website is out of date"
## Bug description

The web pages available at https://thoth-station.ninja/kebechet/ contain outdated information

### Steps to Reproduce
Steps to reproduce the behavior:
1. Go to https://thoth-station.ninja/kebechet/
   - **NOTE**: installing the [Kebechet GitHub app](https://github.com/apps/khebhut) will redirect you to that page
3. Notice the message about *keeping your sources [...] fresh and

[2022-05-20 11:01] codificat commented on #1054
/sig user-experience
/priority important-soon
/kind bug

[2022-05-24 09:03] goern commented on #993
/remove-lifecycle stale
/priority backlog

[2022-06-01 10:27] codificat opened #1055 "Version manager failed to get the correct list of maintainers"
## Bug description

Kebechet refused to act on a release request here:
https://github.com/thoth-station/thoth-github-action/issues/36#issuecomment-1142046322

saying "you are not stated in maintainers section for this project", and providing a list of "maintainers".

However:

- at this time, that project does not have an explicit list of maintainers in `.thoth.yaml`: https://github.com/thoth-stat

[2022-06-01 12:58] sesheta commented on #1010
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-01 16:22] harshad16 opened #1056 "[3pt] Include tag creation in kebechet with release option"
## Problem statement
Kebechet provides a feature to help with the release, the templates for releases create a changelog and update the version file. However, once the pull request is merged, the new version tag is not created by kebechet. The tag has to be created by some other tool or the user themselves. It would be great if kebechet can monitor the release pull request is merged and creates a

[2022-06-01 16:29] codificat commented on #1056
Thanks for creating the issue!
For additional context, this topic was discussed in the [Thoth Tech talk](https://bit.ly/thoth-tech-talk-sessions) on Mar 17, 2022 (search for "How many bots does it take to tag a release)

[2022-06-01 17:39] harshad16 commented on #1056
Assigning this as good-first-issue
and stating story point to 3, as it require knowledge of github API, webhook and kebechet.

[2022-06-02 13:07] sesheta commented on #1002
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-03 01:03] sesheta commented on #825
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-06 13:00] sesheta commented on #669
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-08 00:48] sesheta commented on #972
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-08 08:15] mayaCostantini commented on #1055
/sig devsecops
/priority important-soon
/kind bug

[2022-06-08 16:42] harshad16 opened #1059 "[1pt] Delete the branch if the pr is merged and tag is created."
As a kebechet operator, I would like to have kebechet clean the branch once it has fulfilled its purpose so that it would make the repository maintainers' life easier.

**Acceptance criteria**
- [ ] Delete the branch if the pr is merged and the tag is created.
- [ ] Don't delete the branch if pr is pending or closed.

[2022-06-08 16:42] harshad16 opened #1060 "[1pt] Document the getting started with kebechet docs."
As the Kebechet contributor i would like to document the getting started with kebechet docs based on the experience i had during the development work on kebechet so that next person can benefit from that .

**Acceptance criteria**
- [ ] Update the getting started and [contribute](https://github.com/thoth-station/kebechet#contribute) docs.
- [ ] Include bot installation details and [links](https://

[2022-06-08 16:46] harshad16 commented on #1060
/triage accepted
/sig user-experience
/priority important-soon
/area documentation
/kind feature

[2022-06-08 16:50] harshad16 commented on #1059
@KPostOffice @Gkrumbach07 can please give your ack on this issue, if you feel this is an apt request.

[2022-06-08 17:11] KPostOffice commented on #1059
ack. This is doable and a usefule feature I think

[2022-06-10 17:57] KPostOffice opened #1062 "Add option to automatically create new release"
## Problem statement
With the new feature which creates tags after a release PR is merged, some users may also want to automatically generate a release as well.

## High-level Goals
Give users a configuration option to automatically create a release when the new version tag is pushed.

## Proposal description
Create new release using OGR/GitHub api **right after** a version tag is created. It shou

[2022-06-10 18:48] sesheta commented on #860
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-16 14:37] #1060 closed

[2022-06-16 14:38] harshad16 commented on #1060
Already present here: https://github.com/thoth-station/kebechet/blob/master/docs/getting-started.rst

[2022-06-17 04:06] harshad16 commented on #1050
/triage accepted
/sig stack-guidance
/priority important-longterm

[2022-06-17 18:48] sesheta commented on #997
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-21 17:35] codificat opened #1067 "[2pt] Add signed-off-by in commit messages"
## Problem statement

When Kebechet sends e.g. a PR to update dependencies, the commit message(s) do not contain a `Signed-off-by:` line.

This can prevent [DCO](https://developercertificate.org/) checks from working.

Example: https://github.com/os-climate/data-platform-demo/pull/41/checks?check_run_id=6642425305

## High-level Goals

To have all of Kebechet's commits `Signed-off-by` the bot.

##

[2022-06-21 17:57] codificat opened #1069 "[3pt] Advise manager starting multiple advice requests and not closing them"
## Bug description

I requested an advice from Kebechet in https://github.com/thoth-station/ps-ip/issues/19 and it started 2 advise requests simultaneously.

Both of them completed without error.

Apparently, nothing else happened, and the issue is still open.

### Steps to Reproduce
Steps to reproduce the behavior:
1. Have advise manager configured on your repo (e.g. https://github.com/thoth-stat

[2022-06-21 17:58] codificat commented on #1029
I think https://github.com/thoth-station/kebechet/issues/1029 should also be addressed in the context of this epic

[2022-06-21 18:00] harshad16 opened #1070 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-06-21 18:07] codificat opened #1072 "Info manager fails to provide info"
## Bug description

I requested Kebechet to provide information on a stack, and it provided an error instead.

### Steps to Reproduce
Steps to reproduce the behavior:
1. Have Kebechet configured on your repo
2. Open an issue in the repo, with title: *Kebechet info*
3. Wait for a comment from the bot in the issue

Example: https://github.com/the-shadowmen/nlp-first-steps/issues/3#issuecomment-11526

[2022-06-21 18:20] #1070 closed, assigned to sesheta

[2022-06-21 20:57] KPostOffice commented on #972
/close

[2022-06-21 20:57] #972 closed

[2022-06-21 20:57] sesheta commented on #972
@KPostOffice: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/972#issuecomment-1162351226):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-06-22 18:35] KPostOffice commented on #792
This should be solved by https://github.com/thoth-station/kebechet/issues/1050

[2022-06-23 09:49] sesheta commented on #993
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-23 12:17] codificat commented on #993
hmmm it seems the bots were taking a nap during the previous attempt.

/remove-lifecycle rotten
/priority backlog
/remove-priority important-soon

[2022-06-24 20:36] #1019 closed

[2022-06-27 17:02] codificat commented on #1059
#1065 addressed this, so
/close

[2022-06-27 17:02] sesheta commented on #1059
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/1059#issuecomment-1167616256):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2022-06-27 17:02] #1059 closed

[2022-06-27 17:03] #1056 closed

[2022-06-27 22:02] sesheta commented on #1015
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-28 10:02] sesheta commented on #1021
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-01 18:05] #792 closed

[2022-07-01 18:05] #1050 closed

[2022-07-02 15:50] sesheta commented on #1002
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-03 03:50] sesheta commented on #825
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-07 14:36] codificat opened #1079 "A more informative "wrong version" message from version manager"
## Problem statement

I requested a new patch version for the adviser repo and Kebechet said:

(link to the update: https://github.com/thoth-station/adviser/issues/2360#issuecomment-1177599348)

and then closed my issue.

The problem is that I don't know where this "wrong version" comes from (adviser is currently at [version 0.56.0](https://github.com/thoth-station/adviser/blob/4ee92089ddf76fed0a9

[2022-07-07 14:37] codificat commented on #1079
/kind feature
/sig user-experience
/priority important-longterm

[2022-07-10 21:42] sesheta commented on #860
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-10 21:42] #860 closed

[2022-07-10 21:42] sesheta commented on #860
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/860#issuecomment-1179805132):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-07-11 16:03] sesheta commented on #1039
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-11 20:22] harshad16 opened #1084 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-07-11 20:40] #1084 closed

[2022-07-13 15:23] #1079 closed

[2022-07-15 17:13] shreekarSS opened #1091 "cli PYTHONPATH=. python kebechet-cli --help failed with importError"
## Bug description
cli PYTHONPATH=. python kebechet-cli --help failed with ImportError

(kebechet) [shreekarSS@fedora kebechet]$ PYTHONPATH=. python kebechet-cli --help
Traceback (most recent call last):
  File "kebechet-cli", line 31, in <module>
    from kebechet.kebechet_runners import run, run_url, run_webhook, run_analysis
  File "/home/shreekarSS/wip/issue_151/kebechet/kebechet/kebechet_runn

[2022-07-15 17:33] harshad16 commented on #1091
Does `pipenv run PYTHONPATH=.  ./kebechet-cli --help` also give same error?

[2022-07-15 17:55] harshad16 commented on #1091
Seems like this issue is occured due this PR: https://github.com/thoth-station/kebechet/pull/1080/files
tested in local , gonna try to fix it or revert it.

[2022-07-15 18:40] #1091 closed

[2022-07-17 21:43] sesheta commented on #997
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-17 21:43] sesheta commented on #997
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/kebechet/issues/997#issuecomment-1186612355):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-07-17 21:43] #997 closed

[2022-07-18 18:04] shreekarSS opened #1094 "For 'Kebechet Adviser', kebechet-cli run-results cli is not committing the updated Piplock file"
## Bug description

After creating  'Kebechet Adviser' issue on repos which needs thamos advise, kebechet-cli run-results  was supplied with incorrect updated piplock file path, recorded in https://github.com/thoth-station/support/issues/254

### Steps to Reproduce
Steps to reproduce the behavior:
1. Run kebechet-cli run-url, advise will run ,wait for cli to finish
2. Run kebechet-cli run-results,

[2022-07-19 13:21] Gkrumbach07 commented on #1067
**story points** 2

[2022-07-19 13:24] Gkrumbach07 commented on #1069
related: https://github.com/thoth-station/ps-nlp/issues/151
**story points** 3